.banner {
	background-color: #f9f9f9;

	&__item {
		min-height: 540px;
		padding: 0 160px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	&__img {
		position: absolute;
		inset: 0;
		object-fit: cover;
		z-index: -1;
	}

	&__caption {
		font-size: 30px;
		line-height: 1;
		margin-bottom: 0.5em;

		> span {
			color: #b4b4b4;
		}
	}

	&__title {
		font-size: 50px;
		line-height: 1;
	}

	&__logo {
		color: $special;
	}

	&__text {
		font-size: 20px;
		line-height: 1.3;
		margin-block: 30px;
	}

	&__control {
		display: flex;
		align-items: center;
		gap: 50px;

		.banner__phone {
			> img {
				width: 22px;
				aspect-ratio: 1 / 1;
				flex-shrink: 0;
			}
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 12px;

		> img {
			width: 22px;
			aspect-ratio: 1 / 1;
			flex-shrink: 0;
		}
	}

	.owl-theme .owl-dots {
		position: absolute;
		bottom: 35px;
		left: 50%;
		transform: translateX(-50%);
	}

	.owl-theme .owl-dots .owl-dot span {
		width: 30px;
		height: auto;
		aspect-ratio: 1 / 1;
		margin-block: 0;
		border-radius: 50%;
		background-color: #e8e8e8;
	}

	.owl-theme .owl-dots .owl-dot.active span {
		background-color: $white;
		box-shadow: -2px 4px 4px 0px rgba(51, 98, 171, 0.08);
	}
}

@include xl-up {
	.banner {
		display: grid;
		grid-template-columns: 1fr [content-start] 1500px [content-end] 1fr;

		> * {
			grid-column: content;
		}

		&__carousel {
			&::before,
			&::after {
				content: '';
				height: 100%;
				width: 5%;
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				z-index: 1;
			}

			&::before {
				background-image: linear-gradient(to right, #f9f9f9, transparent);
				left: 0;
			}

			&::after {
				background-image: linear-gradient(to left, #f9f9f9, transparent);
				right: 0;
			}
		}
	}
}

@include xl {
	.banner {
		&__item {
			min-height: calc(100vw * (540 / $xl));
			padding: 0 calc(100vw * (160 / $xl));
		}

		&__caption {
			font-size: calc(100vw * (30 / $xl));
		}

		&__title {
			font-size: calc(100vw * (50 / $xl));
			line-height: 1;
		}

		&__text {
			font-size: calc(100vw * (20 / $xl));
			margin-block: calc(100vw * (30 / $xl));
		}

		&__control {
			gap: calc(100vw * (50 / $xl));
		}

		&__phone {
			gap: calc(100vw * (12 / $xl));

			> img {
				width: calc(100vw * (22 / $xl));
			}
		}

		.owl-theme .owl-dots {
			bottom: calc(100vw * (35 / $xl));
		}

		.owl-theme .owl-dots .owl-dot span {
			width: calc(100vw * (30 / $xl));
		}
	}
}

@include lg {
	.banner {
		&__item {
			min-height: calc(100vw * (437 / $lg));
			padding: 0 calc(100vw * (100 / $lg));
		}

		&__caption {
			font-size: calc(100vw * (25 / $lg));
		}

		&__title {
			font-size: calc(100vw * (45 / $lg));
			line-height: 1;
		}

		&__text {
			font-size: calc(100vw * (18 / $lg));
			margin-block: calc(100vw * (41 / $lg));
		}

		&__control {
			gap: calc(100vw * (50 / $lg));
		}

		&__phone {
			gap: calc(100vw * (12 / $lg));

			> img {
				width: calc(100vw * (22 / $lg));
			}
		}

		.owl-theme .owl-dots {
			bottom: calc(100vw * (25 / $lg));
		}

		.owl-theme .owl-dots .owl-dot span {
			width: calc(100vw * (30 / $lg));
		}
	}
}

@include sm {
	.banner {
		&__item {
			min-height: calc(100vw * (437 / $sm));
			padding: 0 calc(100vw * (70 / $sm));
		}

		&__caption {
			font-size: calc(100vw * (23 / $sm));
		}

		&__title {
			font-size: calc(100vw * (34 / $sm));
			line-height: 1;
		}

		&__text {
			font-size: calc(100vw * (18 / $sm));
			margin-block: calc(100vw * (40 / $sm));
		}

		&__control {
			gap: calc(100vw * (50 / $sm));
		}

		&__phone {
			gap: calc(100vw * (12 / $sm));

			> img {
				width: calc(100vw * (22 / $sm));
			}
		}

		.owl-theme .owl-dots {
			bottom: calc(100vw * (35 / $sm));
		}

		.owl-theme .owl-dots .owl-dot span {
			width: calc(100vw * (30 / $sm));
		}
	}
}

@include xs {
	.banner {
		&__item {
			min-height: calc(100vw * (552 / $xs-base));
			padding: calc(100vw * (37 / $xs-base)) calc(100vw * (20 / $xs-base));
			justify-content: start;
		}

		&__caption {
			font-size: calc(100vw * (18 / $xs-base));
		}

		&__title {
			font-size: calc(100vw * (25 / $xs-base));
			line-height: 1;
		}

		&__control {
			width: 100%;
			position: absolute;
			justify-content: center;
			bottom: calc(100vw * (75 / $xs-base));
			left: 0;
			right: 0;
		}

		.owl-theme .owl-dots {
			width: 100%;
			bottom: calc(100vw * (25 / $xs-base));
		}

		.owl-theme .owl-dots .owl-dot span {
			width: calc(100vw * (30 / $xs-base));
		}
	}
}
