.callback {
	color: $white;
	padding: 100px 100px 50px;
	background: $black url('../img/callback_bg.webp') no-repeat bottom center;
	background-size: auto 100%;
	box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.25);
	z-index: 1;

	&__title {
		color: inherit;
		margin-bottom: 25px;
	}

	&__form {
		width: 570px;
		margin-inline: auto;
		gap: 35px;
	}

	&__form-caption {
		font-size: 20px;
		line-height: 1.5;
		text-align: center;
	}

	&__input {
		font-size: 20px;
		color: $black;
		width: 100%;
		height: 50px;
		padding-inline: 26px;
		border-radius: 10px;
		background-color: $white;

		&--textarea {
			height: 200px;
			padding-top: 15px;
			border: none;
			border-radius: 10px;
		}
	}

	&__submit {
		margin-inline: auto;
	}
}

@include xl {
	.callback {
		padding: calc(100vw * (100 / $xl)) calc(100vw * (100 / $xl)) calc(100vw * (50 / $xl));
		background-image: url('../img/callback_bg_xl.webp');

		&__title {
			margin-bottom: calc(100vw * (25 / $xl));
		}

		&__form {
			width: calc(100vw * (570 / $xl));
			gap: calc(100vw * (35 / $xl));
		}

		&__form-caption {
			font-size: calc(100vw * (20 / $xl));
		}

		&__input {
			font-size: calc(100vw * (20 / $xl));
			height: calc(100vw * (50 / $xl));
			padding-inline: calc(100vw * (26 / $xl));
			border-radius: calc(100vw * (10 / $xl));

			&--textarea {
				height: calc(100vw * (200 / $xl));
				padding-top: calc(100vw * (15 / $xl));
				border-radius: calc(100vw * (10 / $xl));
			}
		}
	}
}

@include lg {
	.callback {
		padding: calc(100vw * (76 / $lg)) calc(100vw * (100 / $lg)) calc(100vw * (35 / $lg));
		background-image: url('../img/callback_bg_lg.webp');

		&__title {
			margin-bottom: calc(100vw * (20 / $lg));
		}

		&__form {
			width: calc(100vw * (490 / $lg));
			gap: calc(100vw * (30 / $lg));
		}

		&__form-caption {
			font-size: calc(100vw * (18 / $lg));
		}

		&__input {
			font-size: calc(100vw * (15 / $lg));
			height: calc(100vw * (43 / $lg));
			padding-inline: calc(100vw * (17 / $lg));
			border-radius: calc(100vw * (10 / $lg));

			&--textarea {
				height: calc(100vw * (170 / $lg));
				padding-top: calc(100vw * (13 / $lg));
				border-radius: calc(100vw * (20 / $lg));
			}
		}
	}
}

@include sm {
	.callback {
		padding: calc(100vw * (64 / $sm)) calc(100vw * (25 / $sm)) calc(100vw * (37 / $sm));
		background-image: url('../img/callback_bg_sm.webp');

		&__title {
			margin-bottom: calc(100vw * (20 / $sm));
		}

		&__form {
			width: calc(100vw * (490 / $sm));
			gap: calc(100vw * (30 / $sm));
		}

		&__form-caption {
			font-size: calc(100vw * (18 / $sm));
		}

		&__input {
			font-size: calc(100vw * (15 / $sm));
			height: calc(100vw * (43 / $sm));
			padding-inline: calc(100vw * (17 / $sm));
			border-radius: calc(100vw * (10 / $sm));

			&--textarea {
				height: calc(100vw * (170 / $sm));
				padding-top: calc(100vw * (13 / $sm));
				border-radius: calc(100vw * (20 / $sm));
			}
		}
	}
}

@include xs {
	.callback {
		padding: calc(100vw * (40 / $xs-base)) calc(100vw * (25 / $xs-base));
		background-image: none;

		&__title {
			margin-bottom: calc(100vw * (25 / $xs-base)) 0;
		}

		&__form {
			width: 100%;
			gap: calc(100vw * (23 / $xs-base));
		}

		&__form-caption {
			font-size: calc(100vw * (20 / $xs-base));
		}

		&__input {
			font-size: calc(100vw * (20 / $xs-base));
			height: calc(100vw * (50 / $xs-base));
			padding-inline: calc(100vw * (14 / $xs-base));
			border-radius: calc(100vw * (10 / $xs-base));

			&--textarea {
				height: calc(100vw * (200 / $xs-base));
				padding-top: calc(100vw * (15 / $xs-base));
				border-radius: calc(100vw * (20 / $xs-base));
			}
		}
	}
}

.callback--contacts {
	background: $black url('../img/callback-contacts.webp') no-repeat left bottom 22px;
	background-size: calc(100vw * (757 / 1920)) calc(100vw * (534 / 1920));

	.callback {
		&__form {
			position: relative;
			z-index: 1;

			&::before {
				content: '';
				width: calc(100vw * (755 / 1920));
				background-image: linear-gradient(to left, #000000, #000000 62%, transparent);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
			}
		}
	}
}

@media (min-width: 1920px) {
	.callback--contacts {
		background-size: 757px 534px;
		background-position: left 25% bottom 22px;

		.callback {
			&__form {
				&::before {
					width: 755px;
				}
			}
		}
	}
}

@include xl {
	.callback--contacts {
		background-size: calc(100vw * (757 / $xl)) calc(100vw * (534 / $xl));

		.callback {
			&__form {
				position: relative;
				z-index: 1;

				&::before {
					content: '';
					width: calc(100vw * (755 / $xl));
					background-image: linear-gradient(to left, #000000, #000000 62%, transparent);
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					z-index: -1;
				}
			}
		}
	}
}

@include lg {
	.callback--contacts {
		background-size: calc(100vw * (658 / $lg)) calc(100vw * (464 / $lg));

		.callback {
			&__form {
				&::before {
					width: calc(100vw * (755 / $lg));
				}
			}
		}
	}
}

@include sm {
	.callback--contacts {
		.callback {
			&__form {
				&::before {
					width: calc(100vw * (650 / $sm));
				}
			}
		}
	}
}

@include xs {
	.callback--contacts {
		background-image: none;

		.callback {
			&__form {
				&::before {
					content: none;
				}
			}
		}
	}
}
