.cart {
	padding: 75px 0 70px;
	background-color: #ffffff;

	&__title {
		margin-bottom: 75px;
	}

	&__caption {
		font-size: 30px;
		text-align: center;
		margin-bottom: 40px;
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 70px;
	}

	.form-group:last-child .cart__input {
		margin-bottom: 0;
	}

	&__input {
		font-size: 15px;
		font-weight: 500;
		color: $black;
		width: 100%;
		height: 50px;
		padding-inline: 33px;
		margin-bottom: 35px;
		background-color: $white;
		border-radius: 10px;
		border: 1px solid #b8b8b8;

		&:focus {
			border-color: $special;
		}
	}

	&__products {
		font-size: 20px;
		line-height: 1.1;
	}

	&__cost,
	&__delivery {
		font-size: 20px;
		line-height: 1;
		width: 100%;
		padding-bottom: 15px;
		margin-top: 1em;
		border-bottom: 1px solid #e8e8e8;
	}

	&__delivery {
		border-bottom: 1px solid $black;
	}

	&__total {
		font-size: 24px;
		line-height: 1;
		text-align: right;
		width: 100%;
		margin-top: 20px;
	}

	&__submit {
		width: 256px;
	}

	&__note {
		font-size: 13px;
		line-height: 1;
		text-align: center;
		width: 100%;
		margin-block: 45px 25px;
	}

	&__link {
		color: $special-light;
		transition: color 0.25s ease;

		&:hover {
			color: $special;
		}
	}

	&__empty-img {
		max-width: 100%;
		height: auto;
	}
}

@include xl-up {
	.cart {
		display: grid;
		grid-template-columns: 1fr [content-start] 1486px [content-end] 1fr;

		> * {
			grid-column: content;
		}
	}
}

@include xl {
	.cart {
		padding: calc(100vw * (75 / $xl)) calc(100vw * (55 / $xl)) calc(100vw * (70 / $xl));

		&__title {
			margin-bottom: calc(100vw * (75 / $xl));
		}

		&__caption {
			font-size: calc(100vw * (30 / $xl));
			margin-bottom: calc(100vw * (40 / $xl));
		}

		&__form {
			gap: calc(100vw * (70 / $xl));
		}

		&__input {
			font-size: calc(100vw * (15 / $xl));
			height: calc(100vw * (50 / $xl));
			padding-inline: calc(100vw * (33 / $xl));
			margin-bottom: calc(100vw * (35 / $xl));
			border-radius: calc(100vw * (10 / $xl));
		}

		&__products {
			font-size: calc(100vw * (20 / $xl));
		}

		&__cost,
		&__delivery {
			font-size: calc(100vw * (20 / $xl));
			padding-bottom: calc(100vw * (15 / $xl));
		}

		&__delivery {
			border-bottom: 1px solid $black;
		}

		&__total {
			font-size: calc(100vw * (24 / $xl));
			margin-top: calc(100vw * (20 / $xl));
		}

		&__submit {
			width: calc(100vw * (256 / $xl));
		}

		&__note {
			font-size: calc(100vw * (13 / $xl));
			margin-block: calc(100vw * (45 / $xl)) calc(100vw * (25 / $xl));
		}
	}
}

@include lg {
	.cart {
		padding: calc(100vw * (60 / $lg)) calc(100vw * (20 / $lg)) calc(100vw * (65 / $lg));

		&__title {
			margin-bottom: calc(100vw * (50 / $lg));
		}

		&__caption {
			font-size: calc(100vw * (20 / $lg));
			margin-bottom: calc(100vw * (20 / $lg));
		}

		&__form {
			grid-template-columns: calc(100vw * (400 / $lg)) 1fr;
			gap: calc(100vw * (50 / $lg));
		}

		&__inputs {
			margin-inline: calc(100vw * (15 / $lg));
		}

		&__input {
			font-size: calc(100vw * (15 / $lg));
			height: calc(100vw * (50 / $lg));
			padding-inline: calc(100vw * (27 / $lg));
			margin-bottom: calc(100vw * (15 / $lg));
			border-radius: calc(100vw * (10 / $lg));
		}

		&__products {
			font-size: calc(100vw * (20 / $lg));
		}

		&__cost,
		&__delivery {
			font-size: calc(100vw * (20 / $lg));
			padding-bottom: calc(100vw * (15 / $lg));
		}

		&__total {
			font-size: calc(100vw * (24 / $lg));
			margin-top: calc(100vw * (20 / $lg));
		}

		&__submit {
			width: calc(100vw * (256 / $lg));
		}

		&__note {
			font-size: calc(100vw * (13 / $lg));
			margin-block: calc(100vw * (45 / $lg)) calc(100vw * (25 / $lg));
		}
	}
}

@include sm {
	.cart {
		padding: calc(100vw * (50 / $sm)) calc(100vw * (60 / $sm)) calc(100vw * (60 / $sm));

		&__title {
			margin-bottom: calc(100vw * (40 / $sm));
		}

		&__caption {
			font-size: calc(100vw * (18 / $sm));
			margin-bottom: calc(100vw * (20 / $sm));
		}

		&__form {
			grid-template-columns: 100%;
			gap: calc(100vw * (50 / $sm));
		}

		&__inputs {
			margin-inline: calc(100vw * (15 / $sm));
		}

		&__input {
			font-size: calc(100vw * (15 / $sm));
			height: calc(100vw * (50 / $sm));
			padding-inline: calc(100vw * (23 / $sm));
			margin-bottom: calc(100vw * (15 / $sm));
			border-radius: calc(100vw * (10 / $sm));
		}

		&__products {
			font-size: calc(100vw * (18 / $sm));
		}

		&__cost,
		&__delivery {
			font-size: calc(100vw * (20 / $sm));
			padding-bottom: 1em;
		}

		&__delivery {
			border-bottom: 1px solid $black;
		}

		&__total {
			font-size: calc(100vw * (24 / $sm));
			margin-top: calc(100vw * (20 / $sm));
		}

		&__submit {
			width: calc(100vw * (256 / $sm));
		}

		&__note {
			font-size: calc(100vw * (13 / $sm));
			margin-block: calc(100vw * (45 / $sm)) calc(100vw * (25 / $sm));
		}
	}
}

@include xs {
	.cart {
		padding: calc(100vw * (40 / $xs-base)) calc(100vw * (15 / $xs-base)) calc(100vw * (50 / $xs-base));

		&__title {
			margin-bottom: calc(100vw * (40 / $xs-base));
		}

		&__caption {
			font-size: calc(100vw * (20 / $xs-base));
			margin-bottom: calc(100vw * (25 / $xs-base));
		}

		&__form {
			gap: calc(100vw * (33 / $xs-base));
		}

		&__inputs {
			margin-inline: 0;
		}

		&__input {
			font-size: calc(100vw * (15 / $xs-base));
			height: calc(100vw * (50 / $xs-base));
			padding-inline: calc(100vw * (16 / $xs-base));
			margin-bottom: calc(100vw * (15 / $xs-base));
			border-radius: calc(100vw * (10 / $xs-base));
		}

		&__products {
			font-size: calc(100vw * (15 / $xs-base));
		}

		&__cost,
		&__delivery {
			font-size: calc(100vw * (15 / $xs-base));
			padding-bottom: calc(100vw * (11 / $xs-base));
			margin-top: calc(100vw * (11 / $xs-base));
		}

		&__delivery {
			border-bottom: 1px solid $black;
		}

		&__total {
			font-size: calc(100vw * (24 / $xs-base));
			margin-top: calc(100vw * (11 / $xs-base));
		}

		&__submit {
			width: calc(100vw * (256 / $xs-base));
			margin-block: calc(100vw * (14 / $xs-base)) 0;
			order: 1;
		}

		&__note {
			font-size: calc(100vw * (13 / $xs-base));
			padding-inline: calc(100vw * (5 / $xs-base));
			margin-top: calc(100vw * (40 / $xs-base));
		}
	}
}
