.cart {
  padding: calc(100vw * (100 / 1920)) calc(100vw * (245 / 1920)) calc(100vw * (105 / 1920));
  background-color: #ffffff;

  @include xl {
    padding: calc(100vw * (115 / $xl)) calc(100vw * (55 / $xl)) calc(100vw * (240 / $xl));
  }

  @include lg {
    padding: calc(100vw * (70 / $lg)) calc(100vw * (165 / $lg)) calc(100vw * (80 / $lg));
  }

  @include sm {
    padding: calc(100vw * (75 / $sm)) calc(100vw * (60 / $sm)) calc(100vw * (60 / $sm));
  }

  @include xs {
    padding: calc(100vw * (45 / $xs-base)) calc(100vw * (15 / $xs-base)) calc(100vw * (65 / $xs-base));
  }

  &__title {
    margin-bottom: calc(100vw * (75 / 1920));

    @include xl {
      margin-bottom: calc(100vw * (75 / $xl));
    }

    @include lg {
      margin-bottom: calc(100vw * (50 / $lg));
    }

    @include sm {
      margin-bottom: calc(100vw * (40 / $sm));
    }

    @include xs {
      margin-bottom: calc(100vw * (40 / $xs-base));
    }
  }

  &__caption {
    font-size:  calc(100vw * (30 / 1920));
    text-align: center;
    margin-bottom: calc(100vw * (40 / 1920));

    @include xl {
      font-size: calc(100vw * (30 / $xl));
      margin-bottom: calc(100vw * (40 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      margin-bottom: calc(100vw * (20 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (18 / $sm));
      margin-bottom: calc(100vw * (20 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (20 / $xs-base));
      margin-bottom: calc(100vw * (25 / $xs-base));
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(100vw * (70 / 1920));

    @include xl {
      gap: calc(100vw * (70 / $xl));
    }

    @include lg {
      grid-template-columns: 100%;
      flex-direction: column;
      gap: calc(100vw * (50 / $xl));
    }

    @include sm {
      gap: calc(100vw * (50 / $xl));
    }

    @include xs {
      gap: calc(100vw * (33 / $xs-base));
    }
  }

  &__inputs {
    @include lg {
      margin-inline: calc(100vw * (15 / $xl));
    }

    @include sm {
      margin-inline: calc(100vw * (15 / $xl));
    }

    @include xs {
      margin-inline: 0;
    }
  } 

  .form-group:last-child .cart__input {
      margin-bottom: 0;
    }

  &__input {
    font-size: calc(100vw * (20 / 1920));
    color: $black;
    width: 100%;
    height: calc(100vw * (50 / 1920));
    padding-inline: calc(100vw * (33 / 1920));
    margin-bottom: calc(100vw * (35 / 1920));
    background-color: $white;
    border-radius: calc(100vw * (10 / 1920));
    border: 1px solid #b8b8b8;

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      height: calc(100vw * (50 / $xl));
      padding-inline: calc(100vw * (33 / $xl));
      margin-bottom: calc(100vw * (35 / $xl));
      border-radius: calc(100vw * (10 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      height: calc(100vw * (50 / $lg));
      padding-inline: calc(100vw * (27 / $lg));
      margin-bottom: calc(100vw * (15 / $lg));
      border-radius: calc(100vw * (10 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (15 / $sm));
      height: calc(100vw * (50 / $sm));
      padding-inline: calc(100vw * (23 / $sm));
      margin-bottom: calc(100vw * (15 / $sm));
      border-radius: calc(100vw * (10 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (18 / $xs-base));
      height: calc(100vw * (50 / $xs-base));
      padding-inline: calc(100vw * (16 / $xs-base));
      margin-bottom: calc(100vw * (15 / $xs-base));
      border-radius: calc(100vw * (10 / $xs-base));
    }
  }

  &__products {
    font-size: calc(100vw * (20 / 1920));
    line-height: 1.1;

    @include xl {
      font-size: calc(100vw * (20 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (18 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (15 / $xs-base));
    }
  }

  &__cost, 
  &__delivery {
    font-size: calc(100vw * (20 / 1920));
    line-height: 1;
    width: 100%;
    padding-bottom: calc(100vw * (15 / 1920));
    margin-top: 1em;
    border-bottom: 1px solid #e8e8e8;

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      padding-bottom: calc(100vw * (15 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      padding-bottom: calc(100vw * (15 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (20 / $sm));
      padding-bottom: 1em;
    }

    @include xs {
      font-size: calc(100vw * (15 / $xs-base));
      padding-bottom: calc(100vw * (11 / $xs-base));
      margin-top: calc(100vw * (11 / $xs-base));
    }
  }

  &__delivery {
    border-bottom: 1px solid $black;
  }

  &__total {
    font-size: calc(100vw * (24 / 1920));
    line-height: 1;
    text-align: right;
    width: 100%;
    margin-top: calc(100vw * (20 / 1920));

    @include xl {
      font-size: calc(100vw * (24 / $xl));
      margin-top: calc(100vw * (20 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (24 / $lg));
      margin-top: calc(100vw * (20 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (24 / $sm));
      margin-top: calc(100vw * (20 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (24 / $xs-base));
      margin-top: calc(100vw * (11 / $xs-base));
    }
  }

  &__submit {
    width: calc(100vw * (256 / 1920));
    margin-block: calc(100vw * (45 / 1920)) calc(100vw * (25 / 1920));

    @include xl {
      width: calc(100vw * (256 / $xl));
      margin-block: calc(100vw * (45 / $xl)) calc(100vw * (25 / $xl));
    }

    @include lg {
      width: calc(100vw * (256 / $lg));
      margin-block: calc(100vw * (45 / $lg)) calc(100vw * (25 / $lg));
    }

    @include sm {
      width: calc(100vw * (256 / $sm));
      margin-block: calc(100vw * (45 / $sm)) calc(100vw * (25 / $sm));
    }

    @include xs {
      width: calc(100vw * (256 / $xs-base));
      margin-block: calc(100vw * (14 / $xs-base)) 0;
      order: 1;
    }
  }

  &__note {
    font-size: calc(100vw * (17 / 1920));
    line-height: 1;
    text-align: center;
    width: 100%;

    @include xl {
      font-size: calc(100vw * (17 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (17 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (16 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (15 / $xs-base));
      padding-inline: calc(100vw * (5 / $xs-base));
      margin-top: calc(100vw * (40 / $xs-base));
    }
  }

  &__link {
    color: $special-light;
    transition: color 0.25s ease;

    &:hover {
      color: $special;
    }
  }
}