.card {
  width: calc(100vw * (416 / 1920));
  padding: calc(100vw * (20 / 1920)) calc(100vw * (40 / 1920));
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include xl {
    width: calc(100vw * (358 / $xl));
    padding: calc(100vw * (20 / $xl)) calc(100vw * (30 / $xl));
  }

  @include lg {
    width: calc(100vw * (250 / $lg));
    padding: calc(100vw * (20 / $lg)) calc(100vw * (25 / $lg));
  }

  @include sm {
    width: calc(100vw * (225 / $sm));
    padding: calc(100vw * (18 / $sm)) calc(100vw * (20 / $sm));
  }

  @include xs {
    width: calc(100vw * (287 / $xs-base));
    padding: calc(100vw * (25 / $xs-base)) calc(100vw * (25 / $xs-base));
  }

  &__sale {
    position: absolute;
    top: calc(100vw * (17 / 1920));
    right: calc(100vw * (-17 / 1920));

    @include xl {
      top: calc(100vw * (15 / $xl));
      right: calc(100vw * (-15 / $xl));
    }

    @include lg {
      top: calc(100vw * (10 / $lg));
      right: calc(100vw * (-10 / $lg));
    }

    @include sm {
      top: calc(100vw * (10 / $sm));
      right: calc(100vw * (-10 / $sm));
    }

    @include xs {
      top: calc(100vw * (20 / $xs-base));
      right: calc(100vw * (-18 / $xs-base));
    }
  }

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: calc(100vw * (10 / 1920));

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include xl {
      margin-bottom: calc(100vw * (10 / $xl));
    }

    @include lg {
      margin-bottom: calc(100vw * (10 / $lg));
    }

    @include sm {
      margin-bottom: calc(100vw * (8 / $sm));
    }

    @include xs {
      margin-bottom: calc(100vw * (10 / $xs-base));
    }
  }

  &__category {
    font-size: calc(100vw * (30 / 1920));
    line-height: 1;
    color: $gray;

    @include xl {
      font-size: calc(100vw * (25 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (20 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (25 / $xs-base));
    }
  }

  &__name {
    font-size: calc(100vw * (24 / 1920));
    line-height: 1.125;
    text-align: left;
    margin-block: calc(100vw * (15 / 1920)) calc(100vw * (25 / 1920));

    @include xl {
      font-size: calc(100vw * (22 / $xl));
      margin-block: calc(100vw * (17 / $xl)) calc(100vw * (20 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (15 / $lg));
      margin-block: calc(100vw * (11 / $lg)) calc(100vw * (15 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (15 / $sm));
      margin-block: calc(100vw * (12 / $sm)) calc(100vw * (15 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (15 / $xs-base));
      text-align: center;
      margin-block: calc(100vw * (16 / $xs-base)) calc(100vw * (20 / $xs-base));
    }
  }

  &__prices {
    margin-left: auto;
  }
}