.card {
	position: relative;
	border: none;
	border-radius: 0;

	&__content {
		height: 100%;
		padding: 40px 20px 20px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: opacity 0.3s ease;
	}

	&__sale {
		position: absolute;
		top: 14px;
		right: -12px;
	}

	&__img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: contain;

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__name {
		font-size: 15px;
		line-height: 1.125;
		text-align: left;
		margin-block: 15px;

		&:hover {
			color: inherit;
		}
	}

	&__prices {
		font-size: 28px;
		margin-top: auto;
		margin-inline: auto 0;
		position: relative;
		text-align: right;
		display: flex;
		justify-content: end;
		align-items: baseline;
		gap: 8px;

		.prices__old-price {
			font-size: 13px;
		}
	}

	&__buy-btn {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
		transition: opacity 0.1s ease, top 0.3s ease;
		display: flex;
		flex-direction: column;
		gap: 15px;

		> .btn {
			font-size: 15px;
			line-height: 18px;
			padding: 10px 25px;
			width: 200px;
		}
	}

	&__buy-link {
		background-color: #1a1b47;

		&::before {
			background-color: $special-dark;
		}
	}
}

@include sm-up {
	.card {
		&:hover {
			> .card__content {
				opacity: 0.5;
			}

			.card__buy-btn {
				opacity: 1;
				top: 40%;
			}
		}
	}
}

@include xl {
	.card {
		&__content {
			padding: calc(100vw * (40 / $xl)) calc(100vw * (20 / $xl)) calc(100vw * (20 / $xl));
		}

		&__sale {
			position: absolute;
			top: calc(100vw * (14 / $xl));
			right: calc(100vw * (-12 / $xl));
		}

		&__name {
			font-size: calc(100vw * (15 / $xl));
			margin-block: calc(100vw * (15 / $xl));
		}

		&__prices {
			font-size: calc(100vw * (28 / $xl));
			gap: calc(100vw * (8 / $xl));

			.prices__old-price {
				font-size: calc(100vw * (13 / $xl));
			}
		}

		&__buy-btn {
			gap: calc(100vw * (15 / $xl));

			> .btn {
				font-size: calc(100vw * (15 / $xl));
				line-height: calc(100vw * (18 / $xl));
				padding: calc(100vw * (9 / $xl)) calc(100vw * (25 / $xl)) calc(100vw * (11 / $xl));
				width: calc(100vw * (200 / $xl));
			}
		}
	}
}

@include llg {
	.card {
		&__content {
			padding: calc(100vw * (40 / $llg)) calc(100vw * (20 / $llg)) calc(100vw * (20 / $llg));
		}

		&__sale {
			position: absolute;
			top: calc(100vw * (14 / $llg));
			right: calc(100vw * (-12 / $llg));
		}

		&__name {
			font-size: calc(100vw * (15 / $llg));
			margin-block: calc(100vw * (15 / $llg));
		}

		&__prices {
			font-size: calc(100vw * (28 / $llg));
			gap: calc(100vw * (8 / $llg));

			.prices__old-price {
				font-size: calc(100vw * (13 / $llg));
			}
		}

		&__buy-btn {
			gap: calc(100vw * (15 / $llg));

			> .btn {
				font-size: calc(100vw * (15 / $llg));
				line-height: calc(100vw * (18 / $llg));
				padding: calc(100vw * (9 / $llg)) calc(100vw * (25 / $llg)) calc(100vw * (11 / $llg));
				width: calc(100vw * (200 / $llg));
			}
		}
	}
}

@include lg {
	.card {
		&__content {
			padding: calc(100vw * (30 / $lg)) calc(100vw * (20 / $lg)) calc(100vw * (20 / $lg));
		}

		&__sale {
			top: calc(100vw * (14 / $lg));
			right: calc(100vw * (-12 / $lg));
		}

		&__name {
			font-size: calc(100vw * (15 / $lg));
			margin-block: calc(100vw * (15 / $lg));
		}

		&__prices {
			font-size: calc(100vw * (28 / $lg));
			gap: calc(100vw * (8 / $lg));

			.prices__old-price {
				font-size: calc(100vw * (13 / $lg));
			}
		}

		&__buy-btn {
			gap: calc(100vw * (15 / $lg));

			> .btn {
				font-size: calc(100vw * (15 / $lg));
				line-height: calc(100vw * (18 / $lg));
				padding: calc(100vw * (10 / $lg)) calc(100vw * (25 / $lg));
				width: calc(100vw * (200 / $lg));
			}
		}
	}
}

@include sm {
	.card {
		position: relative;

		&__content {
			padding: calc(100vw * (16 / $sm)) calc(100vw * (12 / $sm)) calc(100vw * (6 / $sm));
		}

		&__sale {
			top: calc(100vw * (8 / $sm));
			right: calc(100vw * (-8 / $sm));
		}

		&__name {
			font-size: calc(100vw * (12 / $sm));
			margin-block: calc(100vw * (15 / $sm)) calc(100vw * (5 / $sm));
		}

		&__prices {
			font-size: calc(100vw * (18 / $sm));
			gap: calc(100vw * (5 / $sm));

			.prices__old-price {
				font-size: calc(100vw * (12 / $sm));
			}
		}
	}
}

@include xs {
	.card {
		&__content {
			padding: calc(100vw * (12 / $xs-base));
		}

		&__sale {
			position: absolute;
			top: calc(100vw * (8 / $xs-base));
			right: calc(100vw * (-8 / $xs-base));
		}

		&__name {
			font-size: calc(100vw * (12 / $xs-base));
			margin-block: calc(100vw * (16 / $xs-base)) calc(100vw * (6 / $xs-base));
		}

		&__prices {
			font-size: calc(100vw * (18 / $xs-base));
			gap: calc(100vw * (5 / $xs-base));

			.prices__old-price {
				font-size: calc(100vw * (12 / $xs-base));
			}
		}
	}
}
