.card {
	position: relative;

	&__content {
		width: 416px;
		height: 100%;
		padding: 20px 40px;
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: opacity 0.3s ease;
	}

	&__sale {
		position: absolute;
		top: 17px;
		right: -17px;
	}

	&__img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: contain;
		margin-bottom: 10px;

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__category {
		font-size: 30px;
		line-height: 1;
		color: $gray;
	}

	&__name {
		font-size: 24px;
		line-height: 1.125;
		text-align: left;
		margin-block: 15px 25px;

		&:hover {
			color: inherit;
		}
	}

	&__prices {
		margin-top: auto;
		margin-inline: auto 0;
		position: relative;
		text-align: right;
		display: flex;
		justify-content: end;
		align-items: baseline;
		gap: 8px;
	}

	&__buy-btn {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
		transition: opacity 0.1s ease, top 0.3s ease;
		display: flex;
		flex-direction: column;
		gap: 15px;

		> .btn {
			width: 200px;
		}
	}
}

@include sm-up {
	.card {
		&:hover {
			> .card__content {
				opacity: 0.5;
			}

			.card__buy-btn {
				opacity: 1;
				top: 40%;
			}
		}
	}
}

@include xl {
	.card {
		&__content {
			width: calc(100vw * (358 / $xl));
			padding: calc(100vw * (20 / $xl)) calc(100vw * (30 / $xl));
		}

		&__sale {
			top: calc(100vw * (15 / $xl));
			right: calc(100vw * (-15 / $xl));
		}

		&__img {
			margin-bottom: calc(100vw * (10 / $xl));
		}

		&__category {
			font-size: calc(100vw * (25 / $xl));
		}

		&__name {
			font-size: calc(100vw * (22 / $xl));
			margin-block: calc(100vw * (17 / $xl)) calc(100vw * (20 / $xl));
		}

		&__prices {
			gap: calc(100vw * (8 / $xl));
		}
	}
}

@include lg {
	.card {
		&__content {
			width: calc(100vw * (250 / $lg));
			padding: calc(100vw * (20 / $lg)) calc(100vw * (25 / $lg));
		}

		&__sale {
			top: calc(100vw * (10 / $lg));
			right: calc(100vw * (-10 / $lg));
		}

		&__img {
			margin-bottom: calc(100vw * (10 / $lg));
		}

		&__category {
			font-size: calc(100vw * (20 / $lg));
		}

		&__name {
			font-size: calc(100vw * (15 / $lg));
			margin-block: calc(100vw * (11 / $lg)) calc(100vw * (15 / $lg));
		}

		&__prices {
			gap: calc(100vw * (8 / $lg));
		}
	}
}

@include sm {
	.card {
		&__content {
			width: calc(100vw * (225 / $sm));
			padding: calc(100vw * (18 / $sm)) calc(100vw * (20 / $sm));
		}

		&__sale {
			top: calc(100vw * (10 / $sm));
			right: calc(100vw * (-10 / $sm));
		}

		&__img {
			margin-bottom: calc(100vw * (8 / $sm));
		}

		&__category {
			font-size: calc(100vw * (20 / $sm));
		}

		&__name {
			font-size: calc(100vw * (15 / $sm));
			margin-block: calc(100vw * (12 / $sm)) calc(100vw * (15 / $sm));
		}

		&__prices {
			gap: calc(100vw * (8 / $sm));
		}
	}
}

@include xs {
	.card {
		&__content {
			width: calc(100vw * (287 / $xs-base));
			padding: calc(100vw * (25 / $xs-base)) calc(100vw * (25 / $xs-base));
			margin-inline: auto;
		}

		&__sale {
			top: calc(100vw * (20 / $xs-base));
			right: calc(100vw * (-18 / $xs-base));
		}

		&__img {
			margin-bottom: calc(100vw * (10 / $xs-base));
		}

		&__category {
			font-size: calc(100vw * (25 / $xs-base));
		}

		&__name {
			font-size: calc(100vw * (15 / $xs-base));
			text-align: center;
			margin-block: calc(100vw * (16 / $xs-base)) calc(100vw * (20 / $xs-base));
		}

		&__prices {
			gap: calc(100vw * (8 / $xs-base));
		}
	}
}
