.catalog-select {
  position: relative;

  &__caption {
    font-size: calc(100vw * (18 / 1920));
    line-height: 2.433;
    text-align: center;

    @include xl {
      font-size: calc(100vw * (18 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (15 / $lg));
    }
  }

  &__btn {
    width: calc(100vw * (25 / $sm));
    height: calc(100vw * (21 / $sm));

    > img { 
      width: 100%;
      height: auto;
    }

    @include xs {
      width: calc(100vw * (25 / $xs-base));
      height: calc(100vw * (21 / $xs-base));
    }
  }

  &__list {
    color: $black;
    position: absolute;
    top: 100%;
    left: -1.75em;
    padding: 1.5em 1.75em;
    background-color: $white;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 1000;

    @include sm {
      width: calc(100vw * (360 / $sm));
      padding-inline: calc(100vw * (20 / $sm));
      padding-block: 0;
      top: 0;
      left: auto;
      right: 100%;
    }

    @include xs {
      width: 100%;
      padding-inline: calc(100vw * (20 / $xs-base));
      position: fixed;
      top: calc(100vw * (64 / $xs-base));
      left: 0;
      right: 0;
    }
  }

  &__item {
    font-size: calc(100vw * (20 / 1920));
    line-height: 2.5;
    width: max-content;
    position: relative;

    @include xl {
      font-size: calc(100vw * (20 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (18 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (18 / $sm));
      line-height: 1.2;
      width: 100%;
      padding-block: calc(100vw * (20 / $sm));
      border-bottom: 1px solid $light;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        border: none;
      }
    }

    @include xs {
      font-size: calc(100vw * (18 / $xs-base));
      padding-block: calc(100vw * (20 / $xs-base));
    }

    &::after {
      content: "";
      width: 105%;
      height: calc(100vw * (3 / 1920));
      background-color: $special;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;

      @include sm {
        content: none;
      }

    }

    &:hover a,
    &.active a {
      color: $special;
      transition: all 0.25s ease;
    }

    &:hover::after,
    &.active::after {
      opacity: 1;
      transition: opacity 0.25s ease; 
    }
  }
}