.catalog-sc {
	color: $primary;
	padding: 100px 100px 50px;
	background: $black url('../img/catalog-sc_bg.webp') no-repeat bottom center;
	background-size: auto 100%;

	&__title {
		color: inherit;
		margin-bottom: 60px;
	}

	&__list {
		width: max-content;
		margin-inline: auto;
		gap: 200px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		width: auto;
		height: 400px;
		margin-bottom: -20px;
		transition: transform 0.3s ease;

		&:hover {
			transform: translateY(-20px);
		}
	}

	&__category {
		font-size: 20px;
		line-height: 1;
		margin-top: 16px;
	}

	&__name {
		font-size: 20px;
		line-height: 1;
		color: #8c8c8c;
		margin-bottom: 32px;
	}
}

@include xl {
	.catalog-sc {
		padding: calc(100vw * (100 / $xl)) calc(100vw * (100 / $xl)) calc(100vw * (50 / $xl));
		&__title {
			margin-bottom: calc(100vw * (60 / $xl));
		}

		&__list {
			gap: calc(100vw * (200 / $xl));
		}

		&__img {
			height: calc(100vw * (457 / $xl));
		}

		&__category {
			font-size: calc(100vw * (20 / $xl));
			margin-top: calc(100vw * (16 / $xl));
		}

		&__name {
			font-size: calc(100vw * (20 / $xl));
			margin-bottom: calc(100vw * (32 / $xl));
		}
	}
}

/* @include llg {
	.catalog-sc {
		padding: calc(100vw * (76 / $llg)) calc(100vw * (100 / $llg)) calc(100vw * (35 / $llg));

		&__title {
			margin-bottom: calc(100vw * (30 / $llg));
		}

		&__list {
			gap: calc(100vw * (140 / $llg));
		}

		&__img {
			height: calc(100vw * (341 / $llg));
		}

		&__category {
			font-size: calc(100vw * (20 / $llg));
			margin-top: calc(100vw * (13 / $llg));
		}

		&__name {
			font-size: calc(100vw * (20 / $llg));
			margin-bottom: calc(100vw * (26 / $llg));
		}
	}
}
 */
@include lg {
	.catalog-sc {
		padding: calc(100vw * (76 / $lg)) calc(100vw * (100 / $lg)) calc(100vw * (35 / $lg));

		&__title {
			margin-bottom: calc(100vw * (30 / $lg));
		}

		&__list {
			gap: calc(100vw * (140 / $lg));
		}

		&__img {
			height: calc(100vw * (341 / $lg));
		}

		&__category {
			font-size: calc(100vw * (20 / $lg));
			margin-top: calc(100vw * (13 / $lg));
		}

		&__name {
			font-size: calc(100vw * (20 / $lg));
			margin-bottom: calc(100vw * (26 / $lg));
		}
	}
}

@include sm {
	.catalog-sc {
		padding: calc(100vw * (64 / $sm)) calc(100vw * (50 / $sm)) calc(100vw * (37 / $sm));

		&__title {
			margin-bottom: calc(100vw * (35 / $sm));
		}

		&__list {
			gap: calc(100vw * (50 / $sm));
		}

		&__img {
			height: calc(100vw * (270 / $sm));
		}

		&__category {
			font-size: calc(100vw * (22 / $sm));
			margin-top: calc(100vw * (14 / $sm));
		}

		&__name {
			font-size: calc(100vw * (22 / $sm));
			margin-bottom: calc(100vw * (24 / $sm));
		}
	}
}

@include xs {
	.catalog-sc {
		padding: calc(100vw * (25 / $xs-base)) calc(100vw * (15 / $xs-base)) 0;
		background-image: none;

		&__list {
			width: 100%;
			gap: 0;
		}

		&__item {
			width: 100%;
			padding: calc(100vw * (39 / $xs-base)) calc(100vw * (35 / $xs-base)) calc(100vw * (27 / $xs-base));
			margin-bottom: calc(100vw * (11 / $xs-base));
			border: 2px solid rgb(59, 59, 59);
			align-items: flex-start;
			position: relative;
			overflow: hidden;
		}

		&__img {
			height: calc(100vw * (354 / $xs-base));
			position: absolute;
			top: 0;
			right: -10%;
			z-index: 0;
		}

		&__category {
			font-size: calc(100vw * (25 / $xs-base));
			width: min-content;
			margin-top: 0;
			position: relative;
			z-index: 2;
		}

		&__name {
			font-size: calc(100vw * (25 / $xs-base));
			width: min-content;
			margin-bottom: 0;
			position: relative;
			z-index: 2;
		}

		&__fullsize-link {
			display: block;
			position: absolute;
			inset: 0;
			z-index: 2;
		}
	}
}
