.characteristics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;

	&__item {
		font-size: 18px;
		line-height: 1.1;
		padding-block: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 60px;
		aspect-ratio: 1 / 1;
		object-fit: contain;
	}

	&__title {
		text-align: center;
		color: $special;
		margin-block: 20px 10px;
	}
}

@include xl {
	.characteristics {
		gap: calc(100vw * (12 / $xl));

		&__item {
			font-size: calc(100vw * (18 / $xl));
			padding-block: calc(100vw * (32 / $xl));
		}

		&__icon {
			width: calc(100vw * (60 / $xl));
		}

		&__title {
			margin-block: calc(100vw * (20 / $xl)) calc(100vw * (10 / $xl));
		}
	}
}

@include lg {
	.characteristics {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: calc(100vw * (4 / $lg)) calc(100vw * (30 / $lg));

		&__item {
			font-size: calc(100vw * (15 / $lg));
			padding-block: calc(100vw * (6 / $lg));
		}

		&__icon {
			width: calc(100vw * (60 / $lg));
		}

		&__title {
			margin-block: calc(100vw * (20 / $lg)) calc(100vw * (10 / $lg));
		}
	}
}

@include sm {
	.characteristics {
		gap: calc(100vw * (35 / $sm));

		&__item {
			font-size: calc(100vw * (18 / $sm));
			padding-block: calc(100vw * (32 / $sm));
		}

		&__icon {
			width: calc(100vw * (60 / $sm));
		}

		&__title {
			margin-block: calc(100vw * (20 / $sm)) calc(100vw * (10 / $sm));
		}
	}
}

@include xs {
	.characteristics {
		grid-template-columns: repeat(2, 1fr);
		gap: calc(100vw * (20 / $xs-base)) calc(100vw * (12 / $xs-base));

		&__item {
			font-size: calc(100vw * (13 / $xs-base));
			padding-block: calc(100vw * (6 / $xs-base));
		}

		&__icon {
			width: calc(100vw * (60 / $xs-base));
		}

		&__title {
			margin-block: calc(100vw * (20 / $xs-base)) calc(100vw * (10 / $xs-base));
		}
	}
}
