.delivery {
	padding: calc(100vw * (100 / 1920)) calc(100vw * (450 / 1920)) calc(100vw * (50 / 1920));
	background-color: #ffffff;
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
	z-index: 1;

	&__title {
		margin-bottom: calc(100vw * (70 / 1920));
	}

	&__list {
		margin-top: calc(100vw * (70 / 1920));
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: calc(100vw * (55 / 1920));
	}

	&__item {
		display: grid;
		grid-template-columns: calc(100vw * (147 / 1920)) 1fr;
		grid-template-rows: min-content min-content;
		gap: calc(100vw * (20 / 1920)) calc(100vw * (64 / 1920));
	}

	&__img {
		width: calc(100vw * (125 / 1920));
		height: calc(100vw * (141 / 1920));
		margin: auto;
		background: transparent no-repeat center / contain;
		grid-row: span 2;

		&--msk {
			background-image: url('../img/delivery_msk_def.webp');

			&:hover {
				background-image: url('../img/delivery_msk_hover.webp');
			}
		}

		&--mo {
			background-image: url('../img/delivery_mo_def.webp');

			&:hover {
				background-image: url('../img/delivery_mo_hover.webp');
			}
		}

		&--rf {
			width: calc(100vw * (147 / 1920));
			height: calc(100vw * (161 / 1920));
			background-image: url('../img/delivery_rf_def.webp');

			&:hover {
				background-image: url('../img/delivery_rf_hover.webp');
			}
		}
	}

	&__caption {
		font-size: calc(100vw * (30 / 1920));
		line-height: calc(100vw * (26 / 1920));
		color: $special;
	}

	&__text {
		font-size: calc(100vw * (20 / 1920));
		line-height: calc(100vw * (26 / 1920));
	}

	&__link {
		margin-top: calc(100vw * (100 / 1920));
		margin-inline: auto;
	}
}

@media (min-width: 1920px) {
	.delivery {
		padding: 100px 0 50px;
		display: grid;
		grid-template-columns: 1fr [content-start] 1020px [content-end] 1fr;

		> * {
			grid-column: content;
		}

		&__title {
			margin-bottom: 70px;
		}

		&__list {
			margin-top: 70px;
			gap: 55px;
		}

		&__item {
			grid-template-columns: 147px 1fr;
			gap: 20px 64px;
		}

		&__img {
			width: 125px;
			height: 141px;

			&--rf {
				width: 147px;
				height: 161px;
			}
		}

		&__caption {
			font-size: 30px;
			line-height: 26px;
		}

		&__text {
			font-size: 20px;
			line-height: 26px;
		}

		&__link {
			margin-top: 100px;
		}
	}
}

@include xl {
	.delivery {
		padding: calc(100vw * (100 / $xl)) calc(100vw * (200 / $xl)) calc(100vw * (50 / $xl));

		&__title {
			margin-bottom: calc(100vw * (60 / $xl));
		}

		&__list {
			margin-top: calc(100vw * (70 / $xl));
			gap: calc(100vw * (50 / $xl));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $xl)) 1fr;
			gap: calc(100vw * (20 / $xl)) calc(100vw * (42 / $xl));
		}

		&__caption {
			font-size: calc(100vw * (30 / $xl));
			line-height: calc(100vw * (26 / $xl));
		}

		&__text {
			font-size: calc(100vw * (20 / $xl));
			line-height: calc(100vw * (26 / $xl));
		}

		&__link {
			margin-top: calc(100vw * (100 / $xl));
		}
	}
}

@include lg {
	.delivery {
		padding: calc(100vw * (76 / $lg)) calc(100vw * (100 / $lg)) calc(100vw * (35 / $lg));

		&__title {
			margin-bottom: calc(100vw * (45 / $lg));
		}

		&__list {
			margin-top: calc(100vw * (40 / $lg));
			gap: calc(100vw * (40 / $lg));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $lg)) 1fr;
			gap: calc(100vw * (16 / $lg)) calc(100vw * (24 / $lg));
		}

		&__caption {
			font-size: calc(100vw * (30 / $lg));
			line-height: calc(100vw * (26 / $lg));
		}

		&__text {
			font-size: calc(100vw * (20 / $lg));
			line-height: calc(100vw * (26 / $lg));
		}

		&__link {
			margin-top: calc(100vw * (70 / $lg));
		}
	}
}

@include sm {
	.delivery {
		padding: calc(100vw * (64 / $sm)) calc(100vw * (25 / $sm)) calc(100vw * (37 / $sm));

		&__title {
			margin-bottom: calc(100vw * (40 / $sm));
		}

		&__list {
			margin-top: calc(100vw * (35 / $sm));
			gap: calc(100vw * (30 / $sm));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $sm)) 1fr;
			gap: calc(100vw * (12 / $sm)) calc(100vw * (56 / $sm));
		}

		&__caption {
			font-size: calc(100vw * (26 / $sm));
			line-height: calc(100vw * (24 / $sm));
		}

		&__text {
			font-size: calc(100vw * (18 / $sm));
			line-height: calc(100vw * (24 / $sm));
		}

		&__link {
			margin-top: calc(100vw * (50 / $sm));
		}
	}
}

@include xs {
	.delivery {
		padding: calc(100vw * (35 / $xs-base)) calc(100vw * (15 / $xs-base));

		&__title {
			margin-bottom: calc(100vw * (30 / $xs-base));
		}

		&__list {
			margin-top: calc(100vw * (20 / $xs-base));
			gap: calc(100vw * (20 / $xs-base));
		}

		&__item {
			grid-template-columns: 100%;
			gap: calc(100vw * (16 / $xs-base));
		}

		&__caption {
			margin-inline: auto;
			font-size: calc(100vw * (30 / $xs-base));
			line-height: calc(100vw * (30 / $xs-base));
		}

		&__text {
			font-size: calc(100vw * (15 / $xs-base));
			line-height: calc(100vw * (18 / $xs-base));
		}

		&__link {
			margin-top: calc(100vw * (30 / $xs-base));
		}
	}
}
