.delivery {
	padding: 100px 0 50px;
	background-color: #ffffff;
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
	z-index: 1;

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		margin-top: 70px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__item {
		display: grid;
		grid-template-columns: 147px 1fr;
		grid-template-rows: min-content min-content;
		gap: 20px 42px;
	}

	&__img {
		width: 125px;
		height: 141px;
		margin: auto;
		background: transparent no-repeat center / contain;
		grid-row: span 2;
		position: relative;

		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&--msk {
			/* background-image: url('../img/delivery_msk_def.webp');

			&:hover {
				background-image: url('../img/delivery_msk_hover.webp');
			} */
		}

		&--mo {
			/* background-image: url('../img/delivery_mo_def.webp');

			&:hover {
				background-image: url('../img/delivery_mo_hover.webp');
			} */
		}

		&--rf {
			width: 147px;
			height: 161px;
			/* background-image: url('../img/delivery_rf_def.webp');

			&:hover {
				background-image: url('../img/delivery_rf_hover.webp');
			} */
		}

		&:hover {
			.delivery__img-hover {
				opacity: 1;
			}
		}
	}

	&__img-hover {
		opacity: 0;
		position: absolute;
		inset: 0;
		transition: opacity 0.3s ease;
	}

	&__caption {
		font-size: 30px;
		line-height: 26px;
		color: $special;
	}

	&__text {
		font-size: 20px;
		line-height: 26px;
	}

	&__link {
		margin-top: 100px;
		margin-inline: auto;
	}
}

@include xl-up {
	.delivery {
		display: grid;
		grid-template-columns: 1fr [content-start] 1020px [content-end] 1fr;

		> * {
			grid-column: content;
		}
	}
}

@include xl {
	.delivery {
		padding: calc(100vw * (100 / $xl)) calc(100vw * (200 / $xl)) calc(100vw * (50 / $xl));

		&__title {
			margin-bottom: calc(100vw * (60 / $xl));
		}

		&__list {
			margin-top: calc(100vw * (70 / $xl));
			gap: calc(100vw * (50 / $xl));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $xl)) 1fr;
			gap: calc(100vw * (20 / $xl)) calc(100vw * (42 / $xl));
		}

		&__img {
			width: calc(100vw * (125 / $xl));
			height: calc(100vw * (141 / $xl));

			&--rf {
				width: calc(100vw * (147 / $xl));
				height: calc(100vw * (161 / $xl));
			}
		}

		&__caption {
			font-size: calc(100vw * (30 / $xl));
			line-height: calc(100vw * (26 / $xl));
		}

		&__text {
			font-size: calc(100vw * (20 / $xl));
			line-height: calc(100vw * (26 / $xl));
		}

		&__link {
			margin-top: calc(100vw * (100 / $xl));
		}
	}
}

@include lg {
	.delivery {
		padding: calc(100vw * (76 / $lg)) calc(100vw * (100 / $lg)) calc(100vw * (35 / $lg));

		&__title {
			margin-bottom: calc(100vw * (45 / $lg));
		}

		&__list {
			margin-top: calc(100vw * (40 / $lg));
			gap: calc(100vw * (40 / $lg));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $lg)) 1fr;
			gap: calc(100vw * (16 / $lg)) calc(100vw * (24 / $lg));
		}

		&__img {
			width: calc(100vw * (125 / $lg));
			height: calc(100vw * (141 / $lg));

			&--rf {
				width: calc(100vw * (147 / $lg));
				height: calc(100vw * (161 / $lg));
			}
		}

		&__caption {
			font-size: calc(100vw * (30 / $lg));
			line-height: calc(100vw * (26 / $lg));
		}

		&__text {
			font-size: calc(100vw * (20 / $lg));
			line-height: calc(100vw * (26 / $lg));
		}

		&__link {
			margin-top: calc(100vw * (70 / $lg));
		}
	}
}

@include sm {
	.delivery {
		padding: calc(100vw * (64 / $sm)) calc(100vw * (25 / $sm)) calc(100vw * (37 / $sm));

		&__title {
			margin-bottom: calc(100vw * (40 / $sm));
		}

		&__list {
			margin-top: calc(100vw * (35 / $sm));
			gap: calc(100vw * (30 / $sm));
		}

		&__item {
			grid-template-columns: calc(100vw * (147 / $sm)) 1fr;
			gap: calc(100vw * (12 / $sm)) calc(100vw * (56 / $sm));
		}

		&__img {
			width: calc(100vw * (125 / $sm));
			height: calc(100vw * (141 / $sm));

			&--rf {
				width: calc(100vw * (147 / $sm));
				height: calc(100vw * (161 / $sm));
			}
		}

		&__caption {
			font-size: calc(100vw * (26 / $sm));
			line-height: calc(100vw * (24 / $sm));
		}

		&__text {
			font-size: calc(100vw * (18 / $sm));
			line-height: calc(100vw * (24 / $sm));
		}

		&__link {
			margin-top: calc(100vw * (50 / $sm));
		}
	}
}

@include xs {
	.delivery {
		padding: calc(100vw * (35 / $xs-base)) calc(100vw * (15 / $xs-base));

		&__title {
			margin-bottom: calc(100vw * (30 / $xs-base));
		}

		&__list {
			margin-top: calc(100vw * (20 / $xs-base));
			gap: calc(100vw * (20 / $xs-base));
		}

		&__item {
			grid-template-columns: 100%;
			gap: calc(100vw * (16 / $xs-base));
		}

		&__img {
			width: calc(100vw * (125 / $xs-base));
			height: calc(100vw * (141 / $xs-base));

			&--rf {
				width: calc(100vw * (147 / $xs-base));
				height: calc(100vw * (161 / $xs-base));
			}
		}

		&__caption {
			margin-inline: auto;
			font-size: calc(100vw * (30 / $xs-base));
			line-height: calc(100vw * (30 / $xs-base));
		}

		&__text {
			font-size: calc(100vw * (15 / $xs-base));
			line-height: calc(100vw * (18 / $xs-base));
		}

		&__link {
			margin-top: calc(100vw * (30 / $xs-base));
		}
	}
}
