.delivery-sc {
	color: $gray;
	padding: calc(100vw * (70 / 1920)) calc(100vw * (100 / 1920));
	background-color: $white;
	box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
	z-index: 1;

	&--light {
		background-color: #f9f9f9;
	}

	&__title {
		margin-bottom: calc(100vw * (50 / 1920));
	}

	&__list {
		width: max-content;
		margin-inline: auto;
		gap: calc(100vw * (100 / 1920));
	}

	&__item {
		text-align: center;
		max-width: calc(100vw * (200 / 1920));
	}

	&__img {
		max-width: calc(100vw * (90 / 1920));
		height: auto;
		margin-bottom: auto;
	}

	&__name {
		max-width: 100px;
		font-size: calc(100vw * (20 / 1920));
		line-height: 1;
		margin-block: calc(100vw * (20 / 1920)) calc(100vw * (12 / 1920));
	}

	&__desc {
		font-size: calc(100vw * (15 / 1920));
		line-height: 1.3;
	}
}

@media (min-width: 1920px) {
	.delivery-sc {
		padding: 70px 100px;

		&__title {
			margin-bottom: 50px;
		}

		&__list {
			gap: 100px;
		}

		&__item {
			max-width: 200px;
		}

		&__img {
			max-width: 90px;
		}

		&__name {
			font-size: 20px;
			margin-block: 20px 12px;
		}

		&__desc {
			font-size: 15px;
		}
	}
}

@include xl {
	.delivery-sc {
		padding: calc(100vw * (75 / $xl)) calc(100vw * (100 / $xl)) calc(100vw * (65 / $xl));

		&__title {
			margin-bottom: calc(100vw * (50 / $xl));
		}

		&__list {
			gap: calc(100vw * (100 / $xl));
		}

		&__item {
			max-width: calc(100vw * (200 / $xl));
		}

		&__img {
			max-width: calc(100vw * (90 / $xl));
		}

		&__name {
			font-size: calc(100vw * (20 / $xl));
			margin-block: calc(100vw * (20 / $xl)) calc(100vw * (12 / $xl));
		}

		&__desc {
			font-size: calc(100vw * (15 / $xl));
		}
	}
}

@include lg {
	.delivery-sc {
		padding: calc(100vw * (48 / $lg)) calc(100vw * (100 / $lg));

		&__title {
			margin-bottom: calc(100vw * (38 / $lg));
		}

		&__list {
			gap: calc(100vw * (50 / $lg));
		}

		&__item {
			max-width: calc(100vw * (170 / $lg));
		}

		&__img {
			max-width: calc(100vw * (80 / $lg));
		}

		&__name {
			font-size: calc(100vw * (18 / $lg));
			margin-block: calc(100vw * (12 / $lg));
		}

		&__desc {
			font-size: calc(100vw * (14 / $lg));
		}
	}
}

@include sm {
	.delivery-sc {
		padding: calc(100vw * (55 / $sm)) calc(100vw * (25 / $sm)) calc(100vw * (35 / $sm));

		&__title {
			margin-bottom: calc(100vw * (38 / $sm));
		}

		&__list {
			gap: calc(100vw * (25 / $sm));
		}

		&__item {
			max-width: calc(100vw * (160 / $sm));
		}

		&__img {
			max-width: calc(100vw * (80 / $sm));
		}

		&__name {
			font-size: calc(100vw * (15 / $sm));
			margin-block: calc(100vw * (12 / $sm));
		}

		&__desc {
			font-size: calc(100vw * (13 / $sm));
		}
	}
}

@include xs {
	.delivery-sc {
		padding: calc(100vw * (40 / $xs-base)) 0 0;
		background-color: $black;

		&__title {
			margin-bottom: calc(100vw * (53 / $xs-base));
			color: $white;

			& > span {
				font-size: calc(100vw * (20 / $xs-base));
			}
		}

		&__list {
			width: 100%;
			padding: calc(100vw * (36 / $xs-base)) calc(100vw * (15 / $xs-base));
			background-color: $white;
			gap: calc(100vw * (10 / $xs-base));
		}

		&__item {
			max-width: calc(100vw * (150 / $xs-base));
			margin-bottom: calc(100vw * (25 / $xs-base));
			margin-inline: auto;
			flex-grow: 1;
		}

		&__img {
			max-width: calc(100vw * (80 / $xs-base));
		}

		&__name {
			font-size: calc(100vw * (15 / $xs-base));
			margin-block: calc(100vw * (10 / $xs-base));
		}

		&__desc {
			font-size: calc(100vw * (13 / $xs-base));
		}
	}
}
