.equipment {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;

	&__item {
		padding: 16px 30px 35px;
	}

	&__img {
		width: 100%;
		height: 170px;
		object-fit: contain;
	}

	&__name {
		font-size: 18px;
		line-height: 1.1;
		color: $special;
		margin-block: 10px 15px;
	}

	&__desc {
		font-size: 15px;
	}
}

@include xl {
	.equipment {
		gap: calc(100vw * (12 / $xl));

		&__item {
			padding: calc(100vw * (16 / $xl)) calc(100vw * (30 / $xl)) calc(100vw * (35 / $xl));
		}

		&__img {
			height: calc(100vw * (170 / $xl));
		}

		&__name {
			font-size: calc(100vw * (18 / $xl));
			margin-block: calc(100vw * (10 / $xl)) calc(100vw * (15 / $xl));
		}

		&__desc {
			font-size: calc(100vw * (15 / $xl));
		}
	}
}

@include lg {
	.equipment {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: calc(100vw * (4 / $lg)) calc(100vw * (30 / $lg));

		&__item {
			padding: calc(100vw * (15 / $lg)) calc(100vw * (25 / $lg)) calc(100vw * (30 / $lg));
		}

		&__img {
			height: calc(100vw * (160 / $lg));
		}

		&__name {
			font-size: calc(100vw * (18 / $lg));
			margin-block: calc(100vw * (10 / $lg)) calc(100vw * (15 / $lg));
		}

		&__desc {
			font-size: calc(100vw * (15 / $lg));
		}
	}
}

@include sm {
	.equipment {
		gap: calc(100vw * (25 / $sm));

		&__item {
			padding: calc(100vw * (10 / $sm)) calc(100vw * (16 / $sm)) calc(100vw * (16 / $sm));
		}

		&__img {
			height: calc(100vw * (140 / $sm));
		}

		&__name {
			font-size: calc(100vw * (15 / $sm));
			margin-block: calc(100vw * (8 / $sm)) calc(100vw * (12 / $sm));
		}

		&__desc {
			font-size: calc(100vw * (13 / $sm));
		}
	}
}

@include xs {
	.equipment {
		grid-template-columns: 100%;
		gap: calc(100vw * (25 / $xs-base));

		&__item {
			padding: calc(100vw * (10 / $xs-base)) calc(100vw * (16 / $xs-base)) calc(100vw * (16 / $xs-base));
		}

		&__img {
			height: calc(100vw * (110 / $xs-base));
		}

		&__name {
			font-size: calc(100vw * (15 / $xs-base));
			margin-block: calc(100vw * (8 / $xs-base)) calc(100vw * (12 / $xs-base));
		}

		&__desc {
			font-size: calc(100vw * (13 / $xs-base));
		}
	}
}
