.faq {
	padding: 0 0 calc(100vw * (50 / 1920));
	background-color: #f1f1f1;
	display: grid;
	grid-template-columns:
		[full-width-start]
		calc(100vw * (155 / 1920))
		[content-start] 1fr [content-end]
		calc(100vw * (155 / 1920))
		[full-width-end];
	z-index: 1;

	&--sc {
		box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
		padding-top: calc(100vw * (100 / 1920));
	}

	&--white {
		background-color: $white;
	}

	> * {
		grid-column: content;
	}

	> picture {
		grid-column: full-width;
	}

	&__breadcrumbs {
		background-color: $white;
	}

	&__top-img {
		width: 100%;
		height: auto;
		margin-bottom: calc(100vw * (75 / 1920));
	}

	&__title {
		margin-bottom: calc(100vw * (30 / 1920));
	}

	&__list {
		align-items: center;
		gap: calc(100vw * (20 / 1920));
	}

	&__item {
		width: 100%;
		padding: calc(100vw * (30 / 1920)) calc(100vw * (80 / 1920));
		background-color: $white;
		border: 1px solid rgb(232, 232, 232);
		border-radius: calc(100vw * (25 / 1920));
		cursor: pointer;

		&.collapsed .faq__question {
			color: $black;

			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__question {
		font-size: calc(100vw * (20 / 1920));
		line-height: 1.25;
		color: $special;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::after {
			content: '';
			width: calc(100vw * (29 / 1920));
			height: calc(100vw * (14 / 1920));
			background: transparent url('../img/faq_chevron.png') no-repeat center;
			background-size: contain;
			margin-left: 0.5em;
			transition: transform 0.3s ease;
		}
	}

	&__answer {
		font-size: calc(100vw * (20 / 1920));
		line-height: 1.25;
		color: $gray;
		overflow: hidden;
		// padding-top: calc(100vw * (25 / 1920));
	}

	&__link {
		margin-top: calc(100vw * (60 / 1920));
		margin-inline: auto;
	}
}

@media (min-width: 1920px) {
	.faq {
		padding: 0 0 50px;
		grid-template-columns:
			1fr
			[full-width-start]
			155px
			[content-start] 1610px [content-end]
			155px
			[full-width-end]
			1fr;

		&--sc {
			padding-top: 100px;
		}

		&__top-img {
			margin-bottom: 75px;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__list {
			gap: 20px;
		}

		&__item {
			padding: 30px 80px;
			border-radius: 25px;
		}

		&__question {
			font-size: 20px;

			&::after {
				width: 29px;
				height: 14px;
			}
		}

		&__answer {
			font-size: 20px;
		}

		&__link {
			margin-top: 60px;
		}
	}
}

@include xl {
	.faq {
		padding: 0 0 calc(100vw * (50 / $xl));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (122 / $xl))
			[content-start] 1fr [content-end]
			calc(100vw * (122 / $xl))
			[full-width-end];

		&--sc {
			padding-top: calc(100vw * (100 / $xl));
		}

		&__top-img {
			margin-bottom: calc(100vw * (70 / $xl));
		}

		&__title {
			margin-bottom: calc(100vw * (45 / $xl));
		}

		&__list {
			gap: calc(100vw * (29 / $xl));
		}

		&__item {
			padding: calc(100vw * (35 / $xl)) calc(100vw * (70 / $xl));
			border-radius: calc(100vw * (25 / $xl));
		}

		&__question {
			font-size: calc(100vw * (20 / $xl));

			&::after {
				width: calc(100vw * (29 / $xl));
				height: calc(100vw * (14 / $xl));
			}
		}

		&__answer {
			font-size: calc(100vw * (20 / $xl));
			// padding-top: calc(100vw * (25 / $xl));
		}

		&__link {
			margin-top: calc(100vw * (60 / $xl));
		}
	}
}

@include lg {
	.faq {
		padding: 0 0 calc(100vw * (35 / $lg));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (100 / $lg))
			[content-start] 1fr [content-end]
			calc(100vw * (100 / $lg))
			[full-width-end];

		&--sc {
			padding-top: calc(100vw * (76 / $lg));
		}

		&__top-img {
			margin-bottom: calc(100vw * (50 / $lg));
		}

		&__title {
			margin-bottom: calc(100vw * (22 / $lg));
		}

		&__list {
			gap: calc(100vw * (15 / $lg));
		}

		&__item {
			padding: calc(100vw * (30 / $lg)) calc(100vw * (50 / $lg));
			border-radius: calc(100vw * (25 / $lg));
		}

		&__question {
			font-size: calc(100vw * (15 / $lg));

			&::after {
				width: calc(100vw * (17 / $lg));
				height: calc(100vw * (8 / $lg));
			}
		}

		&__answer {
			font-size: calc(100vw * (15 / $lg));
			// padding-top: calc(100vw * (18 / $lg));
		}

		&__link {
			margin-top: calc(100vw * (50 / $lg));
		}
	}
}

@include sm {
	.faq {
		padding: 0 0 calc(100vw * (37 / $sm));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (25 / $sm))
			[content-start] 1fr [content-end]
			calc(100vw * (25 / $sm))
			[full-width-end];

		&--sc {
			padding-top: calc(100vw * (64 / $sm));
		}

		&__top-img {
			margin-bottom: calc(100vw * (45 / $sm));
		}

		&__title {
			margin-bottom: calc(100vw * (22 / $sm));
		}

		&__list {
			gap: calc(100vw * (15 / $sm));
		}

		&__item {
			padding: calc(100vw * (35 / $sm)) calc(100vw * (60 / $sm));
			border-radius: calc(100vw * (20 / $sm));
		}

		&__question {
			font-size: calc(100vw * (18 / $sm));

			&::after {
				width: calc(100vw * (17 / $sm));
				height: calc(100vw * (8 / $sm));
			}
		}

		&__answer {
			font-size: calc(100vw * (18 / $sm));
			// padding-top: calc(100vw * (20 / $lg));
		}

		&__link {
			margin-top: calc(100vw * (40 / $lg));
		}
	}
}

@include xs {
	.faq {
		padding: 0 0 calc(100vw * (35 / $xs-base));
		background-color: $black;
		grid-template-columns: [content-start] 100% [content-end];

		&--sc {
			padding-top: calc(100vw * (35 / $xs-base));
		}

		&__top-img {
			margin-bottom: calc(100vw * (25 / $xs-base));
		}

		&__title {
			color: $white;
			margin-bottom: calc(100vw * (30 / $xs-base));
		}

		&__list {
			gap: calc(100vw * (20 / $xs-base));
		}

		&__item {
			padding: 0;
			background-color: transparent;
			border: none;
			border-radius: 0;
			display: flex;
			flex-direction: column;
			gap: calc(100vw * (20 / $xs-base));

			&.collapsed .faq__question {
				color: $white;
			}
		}

		&__question {
			font-size: calc(100vw * (20 / $xs-base));
			color: $white;
			width: calc(100vw * (340 / $xs-base));
			padding: calc(100vw * (18 / $xs-base)) calc(100vw * (16 / $xs-base)) calc(100vw * (18 / $xs-base))
				calc(100vw * (26 / $xs-base));
			margin-right: auto;
			border-radius: 0 calc(100vw * (20 / $sm)) calc(100vw * (20 / $sm)) 0;
			background-color: $special;

			&::after {
				content: none;
			}
		}

		&__answer {
			font-size: calc(100vw * (20 / $xs-base));
			color: $white;
			text-align: justify;
			width: calc(100vw * (340 / $xs-base));
			padding: calc(100vw * (18 / $xs-base)) calc(100vw * (26 / $xs-base)) calc(100vw * (18 / $xs-base))
				calc(100vw * (16 / $xs-base));
			margin-left: auto;
			border-radius: calc(100vw * (20 / $sm)) 0 0 calc(100vw * (20 / $sm));
			background-color: #1b1b48;
		}

		&__link {
			margin-top: calc(100vw * (20 / $xs-base));
		}
	}
}
