.header {
  color: $white;
  background-color: $black;
  box-shadow: 0 4px 5px 3px rgba(0,0,0,.25);
  position: relative;
  z-index: 1000;
  
  &__logo {
    width: calc(100vw * (159 / 1920));
    height: calc(100vw * (87 / 1920));

    > img {
      width: 100%;
      height: auto;
    }

    @include xl {
      width: calc(100vw * (159 / $xl));
      height: calc(100vw * (87 / $xl));
    }

    @include lg {
      width: calc(100vw * (130 / $lg));
      height: calc(100vw * (73 / $lg));
    }

    @include sm {
      width: calc(100vw * (130 / $sm));
      height: calc(100vw * (73 / $sm));
    }

    @include xs {
      width: calc(100vw * (100 / $xs-base));
      height: calc(100vw * (48 / $xs-base));
    }
  }

  &__top {
    padding: calc(100vw * (15 / 1920)) calc(100vw * (100 / 1920));
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xl {
      padding: calc(100vw * (15 / $xl)) calc(100vw * (24 / $xl));
    }

    @include lg {
      padding: calc(100vw * (15 / $lg)) calc(100vw * (28 / $lg)) calc(100vw * (23 / $lg));
    }

    @include sm {
      padding: calc(100vw * (4 / $sm)) calc(100vw * (14 / $sm));
    }

    @include xs {
      padding: calc(100vw * (16 / $xs-base)) calc(100vw * (20 / $xs-base));
    }
  }

  &__bottom {
    margin-top: calc(100vw * (18 / 1920));

    @include xl {
      margin-top: calc(100vw * (18 / $xl));
    }

    @include lg {
      margin-top: calc(100vw * (30 / $lg));
    }

    @include sm {
      margin-top: calc(100vw * (7 / $sm));
    }
  }

  &__search {
    margin-inline: calc(100vw * (40 / 1920));
    position: relative;
    display: flex;
    align-items: center;

    &.open {
      .header__search-btn {
        background-image: url('../img/cross.png');
      }

      .header__search-input {
        @include sm {
          width: calc(100vw * (256 / $sm));
          padding-inline: calc(100vw * (7 / $sm));
        }

        @include xs {
          width: calc(100vw * (240 / $xs-base));
          padding-inline: calc(100vw * (7 / $xs-base));
        }
      }
    }

    @include xl {
      margin-inline: calc(100vw * (20 / $xl)) calc(100vw * (40 / $xl));
    }

    @include lg {
      margin-inline: calc(100vw * (18 / $lg)) calc(100vw * (30 / $lg));
    }

    @include sm {
      margin-inline: calc(100vw * (40 / $sm)) calc(100vw * (30 / $sm));
    }

    @include xs {
      margin-inline: calc(100vw * (21 / $xs-base)) calc(100vw * (15 / $xs-base));
    }
  }

  &__search-wrapper {
    position: relative;
    overflow: hidden;

    @include sm {
      position: absolute;
      top: 50%;
      right: 150%;
      transform: translateY(-50%);
    }
  }
  
  &__search-input {
    font-size: calc(100vw * (20 / 1920));
    color: $black;
    background-color: $white;
    width: calc(100vw * (330 / 1920));
    height: calc(100vw * (40 / 1920));
    padding-inline: calc(100vw * (7 / 1920));

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      width: calc(100vw * (271 / $xl));
      height: calc(100vw * (40 / $xl));
      padding-inline: calc(100vw * (7 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (15 / $lg));
      width: calc(100vw * (250 / $lg));
      height: calc(100vw * (30 / $lg));
      padding-inline: calc(100vw * (7 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (15 / $sm));
      width: 0;
      height: calc(100vw * (30 / $sm));
      padding: 0;
      transition: all 0.3s ease;
    }

    @include xs {
      font-size: calc(100vw * (20 / $xs-base));
      height: calc(100vw * (40 / $xs-base));
    }
  }

  &__search-submit {
    width: calc(100vw * (30 / 1920));
    aspect-ratio: 1 / 1;
    display: flex;
    position: absolute;
    top: 50%;
    right: calc(100vw * (10 / 1920));
    transform: translateY(-50%);

    @include xl {
      width: calc(100vw * (30 / $xl));
      right: calc(100vw * (10 / $xl));
    }

    @include lg {
      width: calc(100vw * (25 / $lg));
      right: calc(100vw * (10 / $lg));
    }

    @include sm {
      width: calc(100vw * (25 / $sm));
      right: calc(100vw * (10 / $sm));
    }

    @include xs {
      width: calc(100vw * (27 / $xs-base));
      right: calc(100vw * (10 / $xs-base));
    }
  }

  &__search-btn {
    width: calc(100vw * (25 / $sm));
    height: calc(100vw * (25 / $sm));
    background: transparent url('../img/search_white.png') no-repeat center;
    background-size: 100% auto;

    @include xs {
      width: calc(100vw * (25 / $xs-base));
      height: calc(100vw * (25 / $xs-base));
    }
  }

  &__cart {
    width: calc(100vw * (34 / 1920));
    height: calc(100vw * (32 / 1920));
    position: relative;
    display: flex;
    align-items: center;

    > img {
      width: 100%;
      height: 100%;
    }

    @include xl {
      width: calc(100vw * (34 / $xl));
      height: calc(100vw * (32 / $xl));
    }

    @include lg {
      width: calc(100vw * (30 / $lg));
      height: calc(100vw * (28 / $lg));
    }

    @include sm {
      width: calc(100vw * (25 / $sm));
      height: calc(100vw * (23 / $sm));
    }

    @include xs {
      width: calc(100vw * (25 / $xs-base));
      height: calc(100vw * (23 / $xs-base));
    }
  }

  &__cart-count{
    font-size: calc(100vw * (14 / $xl));
    line-height: 1;
    width: 1.2em;
    aspect-ratio: 1 / 1;
    color: $white;
    background-color: $special;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: grid;
    place-content: center;

    @include xl {
      font-size: calc(100vw * (14 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (14 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (10 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (10 / $xs-base));
    }
  }
}