.main-nav {
	width: min-content;
	margin-inline: auto;
	display: flex;
	gap: 85px;
	align-self: end;

	&__link {
		font-size: 18px;
		line-height: 1.4;
		text-align: center;
		width: max-content;
		padding-bottom: 15px;
		padding-inline: 6px;
		position: relative;
		transition: color 0.25s ease;

		&::after {
			content: '';
			width: 0;
			height: 5px;
			background-color: $special;
			position: absolute;
			bottom: 0;
			right: 0;
			left: auto;
			transition: width 0.25s ease;
			transform-origin: right;
		}

		&:hover,
		&.active {
			color: $white;
		}

		&:hover::after,
		&.active::after {
			width: 100%;
			transform-origin: left;
			right: auto;
			left: 0;
		}
	}
}

@include xl {
	.main-nav {
		gap: calc(100vw * (85 / $xl));

		&__link {
			font-size: calc(100vw * (18 / $xl));
			padding-bottom: calc(100vw * (15 / $xl));
			padding-inline: calc(100vw * (5 / $xl));

			&::after {
				height: calc(100vw * (5 / $xl));
			}
		}
	}
}

@include lg {
	.main-nav {
		gap: calc(100vw * (70 / $lg));

		&__link {
			font-size: calc(100vw * (18 / $lg));
			width: min-content;
			padding-bottom: calc(100vw * (14 / $lg));
			padding-inline: calc(100vw * (7 / $lg));

			&::after {
				height: calc(100vw * (5 / $lg));
			}
		}
	}
}

@include sm {
	.main-nav {
		gap: calc(100vw * (45 / $sm));

		&__link {
			width: max-content;
			font-size: calc(100vw * (15 / $sm));
			padding-bottom: calc(100vw * (10 / $sm));
			padding-inline: 0;
			display: flex;
			flex-direction: column;

			&::after {
				content: none;
			}

			&:hover,
			&.active {
				color: $special;
			}
		}
	}
}

@include xs {
	.main-nav {
		display: none;
	}
}
