.main-nav {
	width: min-content;
	margin-inline: auto;
	gap: 170px;

	&__link {
		font-size: 18px;
		line-height: 1.4;
		text-align: center;
		width: max-content;
		padding-bottom: 15px;
		padding-inline: 6px;
		position: relative;
		transition: color 0.25s ease;

		&::after {
			content: '';
			height: 5px;
			background-color: $special;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			transition: opacity 0.25s ease;
		}

		&:hover,
		&.active {
			color: $white;
		}

		&:hover::after,
		&.active::after {
			opacity: 1;
		}
	}
}

@include xl {
	.main-nav {
		gap: calc(100vw * (170 / $xl));

		&__link {
			font-size: calc(100vw * (18 / $xl));
			padding-bottom: calc(100vw * (15 / $xl));
			padding-inline: calc(100vw * (5 / $xl));

			&::after {
				height: calc(100vw * (5 / $xl));
			}
		}
	}
}

@include lg {
	.main-nav {
		gap: calc(100vw * (70 / $lg));

		&__link {
			font-size: calc(100vw * (20 / $lg));
			padding-bottom: calc(100vw * (23 / $lg));
			padding-inline: calc(100vw * (13 / $lg));

			&::after {
				height: calc(100vw * (5 / $lg));
			}
		}
	}
}

@include sm {
	.main-nav {
		gap: calc(100vw * (100 / $sm));

		&__link {
			width: max-content;
			font-size: calc(100vw * (18 / $sm));
			padding-bottom: calc(100vw * (15 / $sm));
			padding-inline: calc(100vw * (5 / $sm));
			display: flex;
			flex-direction: column;

			&::after {
				height: calc(100vw * (3 / $sm));
			}
		}
	}
}
