.main-nav {
  width: min-content;
  margin-inline: auto;
  gap: calc(100vw * (40 / 1920));

  @include xl {
    gap: calc(100vw * (60 / $xl));
  }

  @include lg {
    gap: calc(100vw * (70 / $lg));
  }

  @include sm {
    gap: calc(100vw * (60 / $sm));
  }

  &__link {
    font-size: calc(100vw * (20 / 1920));
    line-height: 2.19;
    text-align: center;
    width: max-content;
    padding-bottom: calc(100vw * (23 / 1920));
    padding-inline: calc(100vw * (15 / 1920));
    position: relative;
    transition: color 0.25s ease;

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      padding-bottom: calc(100vw * (23 / $xl));
      padding-inline: calc(100vw * (15 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      padding-bottom: calc(100vw * (23 / $lg));
      padding-inline: calc(100vw * (13 / $lg));
    }

    @include sm {
      width: max-content;
      font-size: calc(100vw * (18 / $sm));
      padding-bottom: calc(100vw * (18 / $sm));
      padding-inline: calc(100vw * (9 / $sm));
      display: flex;
      flex-direction: column;
    }

    &::after {
      content: "";
      height: calc(100vw * (5 / 1920));
      background-color: $special;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.25s ease; 

      @include xl {
        height: calc(100vw * (5 / $xl));
      }

      @include lg {
        height: calc(100vw * (5 / $lg));
      }

      @include sm {
        height: calc(100vw * (3 / $sm));
      }
    }

    &:hover,
    &.active {
      color: $white;
    }

    &:hover::after,
    &.active::after {
      opacity: 1;
    }
  }
}