.news {
  &__item {
    display: grid;
    grid-template-columns: 50% 50%;
    
    @include xs {
      grid-template-columns: 100%;
    }

    &--black {
      .news { 
        &__content {
          color: $white;
        }
        
        &__img {
          @include xs {
            grid-row: 3 / 4;
          }
        }
      }
    }

    &--reverse {
      .news {
        &__img {
          margin-top: auto;
          margin-left: auto;
          margin-right: 0;
          grid-column: 2 / 3;

          @include xs {
            grid-column: 1 / 2;
          }
        }

        &__content {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        &__date {
          text-align: left;
        }
      }
    }
  }
  
  &__title {
    color: $white;
    grid-column: 1 / -1;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-right: auto;

    @include xs {
      grid-row: 2 / 3;
    }
  }

  &__content {
    text-align: center;
    width: calc(100vw * (500 / 1920));
    height: min-content;
    padding-block: calc(100vw * (177 / 1920)) calc(100vw * (110 / 1920));
    margin: auto;
    display: flex;
    flex-direction: column;

    @include xl {
      width: calc(100vw * (500 / $xl));
      padding-block: calc(100vw * (140 / $xl)) calc(100vw * (100 / $xl));
    }

    @include lg {
      width: calc(100vw * (450 / $lg));
      padding-block: calc(100vw * (100 / $lg)) calc(100vw * (60 / $lg));
    }

    @include sm {
      width: calc(100vw * (350 / $sm));
      padding-block: calc(100vw * (50 / $sm)) calc(100vw * (30 / $sm));
    }

    @include xs {
      width: 100%;
      padding-block: calc(100vw * (50 / $xs-base)) calc(100vw * (30 / $xs-base));
      padding-inline: calc(100vw * (15 / $xs-base));
    }
  }

  &__date {
    font-size: calc(100vw * (20 / 1920));
    line-height: calc(100vw * (26 / 1920));
    text-align: right;
    margin-bottom: calc(100vw * (80 / 1920));

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      line-height: calc(100vw * (26 / $xl));
      margin-bottom: calc(100vw * (70 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      line-height: calc(100vw * (26 / $lg));
      margin-bottom: calc(100vw * (55 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (18 / $sm));
      line-height: calc(100vw * (24 / $sm));
      margin-bottom: calc(100vw * (50 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (14 / $xs-base));
      line-height: calc(100vw * (18 / $xs-base));
      margin-bottom: calc(100vw * (25 / $xs-base));
    }
  }

  &__caption {
    font-size: calc(100vw * (36 / 1920));
    line-height: calc(100vw * (40 / 1920));
    color: $special;
    text-transform: uppercase;
    margin-bottom: calc(100vw * (25 / 1920));

    @include xl {
      font-size: calc(100vw * (36 / $xl));
      line-height: calc(100vw * (40 / $xl));
      margin-bottom: calc(100vw * (25 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (30 / $lg));
      line-height: calc(100vw * (32 / $lg));
      margin-bottom: calc(100vw * (20 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (26 / $sm));
      line-height: calc(100vw * (28 / $sm));
      margin-bottom: calc(100vw * (20 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (22 / $xs-base));
      line-height: calc(100vw * (24 / $xs-base));
      margin-bottom: calc(100vw * (15 / $xs-base));
    }
  }

  &__desc {
    font-size: calc(100vw * (20 / 1920));
    line-height: calc(100vw * (26 / 1920));
    margin-bottom: calc(100vw * (40 / 1920));

    @include xl {
      font-size: calc(100vw * (20 / $xl));
      line-height: calc(100vw * (26 / $xl));
      margin-bottom: calc(100vw * (40 / $xl));
    }

    @include lg {
      font-size: calc(100vw * (20 / $lg));
      line-height: calc(100vw * (26 / $lg));
      margin-bottom: calc(100vw * (30 / $lg));
    }

    @include sm {
      font-size: calc(100vw * (18 / $sm));
      line-height: calc(100vw * (24 / $sm));
      margin-bottom: calc(100vw * (25 / $sm));
    }

    @include xs {
      font-size: calc(100vw * (14 / $xs-base));
      line-height: calc(100vw * (18 / $xs-base));
      margin-bottom: calc(100vw * (20 / $xs-base));
    }
  }

  &__link {
    color: #717171;
    width: calc(100vw * (256 / 1920));
    height: calc(100vw * (49 / 1920));
    margin-top: auto;
    margin-inline: auto;
    border: 1px solid currentColor;
    border-radius: 30px;
    display: grid;
    place-content: center;

    @include xl {
      width: calc(100vw * (256 / $xl));
      height: calc(100vw * (49 / $xl));
    }

    @include lg {
      width: calc(100vw * (256 / $lg));
      height: calc(100vw * (49 / $lg));
    }

    @include sm {
      width: calc(100vw * (256 / $sm));
      height: calc(100vw * (49 / $sm));
    }

    @include xs {
      width: calc(100vw * (256 / $xs-base));
      height: calc(100vw * (49 / $xs-base));
    }
  }
}