.news-detail {
	width: 100%;
	padding: 0 0 75px;
	background-color: $white;
	display: grid;
	grid-template-columns:
		[full-width-start]
		85px
		[content-start] 1fr [content-end]
		85px
		[full-width-end];
	z-index: 1;

	> * {
		grid-column: content;
	}

	> .news__list {
		grid-column: full-width;
		margin-block: 0;
	}

	&__top-img {
		margin-bottom: 75px;
		grid-column: full-width;
		position: relative;

		> img {
			width: 100%;
			height: auto;
		}
	}

	&__title {
		font-size: 40px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		color: $special;
		margin-bottom: 45px;
	}

	&__content {
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
	}

	&__date {
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
		color: #979797;
		margin-top: 20px;
	}

	&__controls {
		margin-block: 90px 70px;
		margin-inline: auto;
		display: flex;
		gap: 20px;
	}

	&__link {
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		color: $special;
		width: 260px;
		height: 50px;
		background: $white;
		border: 1px solid currentColor;
		border-radius: 25px;
		display: grid;
		place-content: center;
		transition: color 0.3s ease;

		&:hover {
			color: $special-dark;
		}
	}
}

@include xl-up {
	.news-detail {
		grid-template-columns:
			1fr
			[full-width-start]
			85px
			[content-start] 1372px [content-end]
			85px
			[full-width-end]
			1fr;

		&__top-img {
			&::before,
			&::after {
				content: '';
				height: 100%;
				width: 5%;
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
			}

			&::before {
				background-image: linear-gradient(to right, $white, transparent);
				left: 0;
			}

			&::after {
				background-image: linear-gradient(to left, $white, transparent);
				right: 0;
			}
		}
	}
}

@include xl {
	.news-detail {
		padding: 0 0 calc(100vw * (75 / $xl));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (85 / $xl))
			[content-start] 1fr [content-end]
			calc(100vw * (85 / $xl))
			[full-width-end];

		&__top-img {
			margin-bottom: calc(100vw * (75 / $xl));
		}

		&__title {
			font-size: calc(100vw * (40 / $xl));
			margin-bottom: calc(100vw * (45 / $xl));
		}

		&__content {
			font-size: calc(100vw * (18 / $xl));
		}

		&__date {
			font-size: calc(100vw * (15 / $xl));
			margin-top: calc(100vw * (20 / $xl));
		}

		&__controls {
			margin-block: calc(100vw * (90 / $xl)) calc(100vw * (70 / $xl));
			gap: calc(100vw * (20 / $xl));
		}

		&__link {
			font-size: calc(100vw * (18 / $xl));
			width: calc(100vw * (260 / $xl));
			height: calc(100vw * (50 / $xl));
			border-radius: calc(100vw * (25 / $xl));
		}
	}
}

@include lg {
	.news-detail {
		padding: 0 0 calc(100vw * (55 / $lg));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (55 / $lg))
			[content-start] 1fr [content-end]
			calc(100vw * (55 / $lg))
			[full-width-end];

		&__top-img {
			margin-bottom: calc(100vw * (60 / $lg));
		}

		&__title {
			font-size: calc(100vw * (35 / $lg));
			margin-bottom: calc(100vw * (35 / $lg));
		}

		&__content {
			font-size: calc(100vw * (15 / $lg));
		}

		&__date {
			font-size: calc(100vw * (13 / $lg));
			margin-top: calc(100vw * (10 / $lg));
		}

		&__controls {
			margin-block: calc(100vw * (40 / $lg)) calc(100vw * (65 / $lg));
			gap: calc(100vw * (20 / $lg));
		}

		&__link {
			font-size: calc(100vw * (18 / $lg));
			width: calc(100vw * (260 / $lg));
			height: calc(100vw * (50 / $lg));
			border-radius: calc(100vw * (25 / $lg));
		}
	}
}

@include sm {
	.news-detail {
		padding: 0 0 calc(100vw * (55 / $sm));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (70 / $sm))
			[content-start] 1fr [content-end]
			calc(100vw * (70 / $sm))
			[full-width-end];

		&__top-img {
			margin-bottom: calc(100vw * (40 / $sm));
		}

		&__title {
			font-size: calc(100vw * (30 / $sm));
			margin-bottom: calc(100vw * (32 / $sm));
		}

		&__content {
			font-size: calc(100vw * (15 / $sm));

			> img {
				max-width: 100%;
				height: auto;
				float: none !important;
				margin: 1em auto !important;
			}
		}

		&__date {
			font-size: calc(100vw * (13 / $sm));
			margin-top: calc(100vw * (10 / $sm));
		}

		&__controls {
			width: 100%;
			margin-block: calc(100vw * (40 / $sm)) calc(100vw * (55 / $sm));
			justify-content: space-between;
			gap: 0;
		}

		&__link {
			font-size: calc(100vw * (15 / $sm));
			width: calc(100vw * (172 / $sm));
			height: calc(100vw * (40 / $sm));
			border-radius: calc(100vw * (25 / $sm));
		}
	}
}

@include xs {
	.news-detail {
		padding: 0 0 calc(100vw * (40 / $xs-base));
		grid-template-columns:
			[full-width-start]
			calc(100vw * (20 / $xs-base))
			[content-start] 1fr [content-end]
			calc(100vw * (20 / $xs-base))
			[full-width-end];

		> .news__list {
			grid-column: content;
		}

		> .news__title {
			margin-top: calc(100vw * (25 / $xs-base));
		}

		&__top-img {
			margin-bottom: calc(100vw * (35 / $xs-base));
		}

		&__title {
			font-size: calc(100vw * (23 / $xs-base));
			margin-bottom: calc(100vw * (30 / $xs-base));
		}

		&__content {
			font-size: calc(100vw * (15 / $xs-base));
		}

		&__date {
			display: none;
		}

		&__controls {
			margin-block: calc(100vw * (35 / $xs-base)) 0;
			flex-direction: column;
			order: 5;
			gap: calc(100vw * (15 / $xs-base));
		}

		&__link {
			font-size: calc(100vw * (15 / $xs-base));
			width: 100%;
			height: calc(100vw * (50 / $xs-base));
			border-radius: calc(100vw * (25 / $xs-base));
		}
	}
}
