.pagination {
	width: max-content;
	margin-inline: auto;
	display: flex;
	gap: calc(100vw * (13 / 1920));

	@include xl {
		gap: calc(100vw * (13 / $xl));
	}

	@include lg {
		gap: calc(100vw * (12 / $lg));
	}

	@include sm {
		gap: calc(100vw * (8 / $sm));
	}

	@include xs {
		gap: calc(100vw * (8 / $xs-base));
	}

	&__link {
		--font-size: calc(100vw * (20 / 1920));
		font-size: var(--font-size);
		line-height: 1;
		width: calc(100vw * (44 / 1920));
		height: auto;
		aspect-ratio: 1 / 1;
		background-color: #ffffff;
		border: 1px solid #d0d0d0;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		cursor: pointer;
		transition: 0.25s ease;

		&--prev,
		&--next {
			background-image: url('../img/pag_chevron.png');
			background-position: center;
			background-size: auto var(--font-size);
			background-repeat: no-repeat;
		}

		&--next {
			transform: rotate(-180deg);
		}

		&:hover {
			background-color: #f9dcef;
		}

		&.active {
			color: $white;
			background-color: $special;
		}

		@include xl {
			--font-size: calc(100vw * (13 / $xl));
			width: calc(100vw * (44 / $xl));
		}

		@include lg {
			--font-size: calc(100vw * (12 / $lg));
			width: calc(100vw * (35 / $lg));
		}

		@include sm {
			--font-size: calc(100vw * (8 / $sm));
			width: calc(100vw * (26 / $sm));
		}

		@include xs {
			--font-size: calc(100vw * (8 / $xs-base));
			width: calc(100vw * (26 / $xs-base));
		}
	}
}
