.products-sc {
	padding: 100px 100px 50px;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: 55px;
	}

	&__link {
		margin: 55px auto 0;
	}
}

@include xl {
	.products-sc {
		padding: calc(100vw * (100 / $xl)) calc(100vw * (100 / $xl)) calc(100vw * (50 / $xl));

		&__title {
			margin-bottom: calc(100vw * (55 / $xl));
		}

		&__link {
			margin-top: calc(100vw * (55 / $xl));
		}
	}
}

@include lg {
	.products-sc {
		padding: calc(100vw * (76 / $lg)) calc(100vw * (100 / $lg)) calc(100vw * (35 / $lg));

		&__title {
			margin-bottom: calc(100vw * (45 / $lg));
		}

		&__list {
			.card:nth-child(3) ~ .card {
				display: none;
			}
		}

		&__link {
			margin-top: calc(100vw * (30 / $lg));
		}
	}
}

@include sm {
	.products-sc {
		padding: calc(100vw * (64 / $sm)) calc(100vw * (16 / $sm)) calc(100vw * (37 / $sm));

		&__title {
			margin-bottom: calc(100vw * (40 / $sm));
		}

		&__link {
			margin-top: calc(100vw * (25 / $sm));
		}
	}
}

@include xs {
	.products-sc {
		padding: calc(100vw * (42 / $xs-base)) calc(100vw * (20 / $xs-base)) calc(100vw * (30 / $xs-base));
		background-color: #f0f0f0;

		&__title {
			margin-bottom: calc(100vw * (35 / $xs-base));
		}

		&__list {
			.card:nth-child(3) ~ .card {
				display: flex;
			}
		}

		&__link {
			margin-top: calc(100vw * (20 / $xs-base));
		}
	}
}
