.product-info {
	padding: 35px 0 0;

	&__menu {
		width: max-content;
		margin-inline: auto;
		gap: 140px;
	}

	&__menu-item a {
		font-size: 24px;
		color: $white;
		width: 325px;
		height: 45px;
		background-color: $secondary;
		border-radius: 20px 20px 0 0;
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: all 0.3s ease;
	}

	&__menu-item {
		&.ui-state-active {
			a {
				color: $secondary;
				background-color: $white;
			}
		}
	}

	&__tab {
		font-size: 18px;
		text-align: justify;
		padding: 50px 90px;
		margin-inline: auto;
		background-color: $white;
	}
}

@include xl-up {
	.product-info {
		&__tab {
			display: grid;
			grid-template-columns: [full-width-start] 1fr [content-start] 1136px [content-end] 1fr [full-width-end];

			> * {
				grid-column: content;
			}
		}
	}
}

@include xl {
	.product-info {
		padding: calc(100vw * (35 / $xl)) 0 0;

		&__menu {
			width: 90%;
			justify-content: space-between;
			gap: 0;
		}

		&__menu-item a {
			font-size: calc(100vw * (24 / $xl));
			width: calc(100vw * (328 / $xl));
			height: calc(100vw * (45 / $xl));
			border-radius: calc(100vw * (20 / $xl)) calc(100vw * (20 / $xl)) 0 0;
		}

		&__tab {
			font-size: calc(100vw * (18 / $xl));
			padding: calc(100vw * (50 / $xl)) calc(100vw * (90 / $xl));
		}
	}
}

@include lg {
	.product-info {
		padding: calc(100vw * (30 / $lg)) 0 0;

		&__menu {
			gap: calc(100vw * (60 / $xl));
		}

		&__menu-item a {
			font-size: calc(100vw * (17 / $lg));
			width: calc(100vw * (235 / $lg));
			height: calc(100vw * (32 / $lg));
			border-radius: calc(100vw * (20 / $lg)) calc(100vw * (20 / $lg)) 0 0;
		}

		&__tab {
			font-size: calc(100vw * (14 / $lg));
			padding: calc(100vw * (40 / $lg)) calc(100vw * (75 / $lg));
		}
	}
}

@include sm {
	.product-info {
		padding: calc(100vw * (25 / $sm)) 0 0;

		&__menu-item a {
			font-size: calc(100vw * (17 / $sm));
			width: calc(100vw * (170 / $sm));
			height: calc(100vw * (30 / $sm));
			border-radius: calc(100vw * (20 / $sm)) calc(100vw * (20 / $sm)) 0 0;
		}

		&__tab {
			font-size: calc(100vw * (14 / $sm));
			padding: calc(100vw * (25 / $sm)) calc(100vw * (50 / $sm));
		}
	}
}

@include xs {
	.product-info {
		padding: calc(100vw * (20 / $xs-base)) 0 0;

		&__menu {
			gap: 0;
		}

		&__menu-item a {
			font-size: calc(100vw * (13 / $xs-base));
			width: calc(100vw * (105 / $xs-base));
			height: calc(100vw * (30 / $xs-base));
			border-radius: calc(100vw * (14 / $xs-base)) calc(100vw * (14 / $xs-base)) 0 0;
		}

		&__tab {
			font-size: calc(100vw * (14 / $xs-base));
			padding: calc(100vw * (25 / $xs-base)) calc(100vw * (32 / $xs-base));
		}
	}
}
