.quote {
	font-size: 30px;
	line-height: 1.3;
	color: $special-dark;
	height: 135px;
	background-color: transparent;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		background-color: #ffffff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__wrapper {
		width: max-content;
		margin-inline: auto;
		position: relative;
	}

	&__img {
		width: 580px;
		height: 327px;
		position: absolute;
		top: 50%;
		left: -439px;
		transform: translateY(-50%);
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&__logo {
		width: 153px;
		height: 58px;
		margin-right: 10px;

		> img {
			width: 100%;
			height: auto;
		}
	}

	&__quotes {
		width: 158px;
		height: 130px;
		position: absolute;
		top: 0;
		right: -115px;
		z-index: -1;
	}
}

@include xl {
	.quote {
		font-size: calc(100vw * (30 / $xl));
		height: calc(100vw * (135 / $xl));

		&__img {
			width: calc(100vw * (580 / $xl));
			height: calc(100vw * (327 / $xl));
			left: calc(100vw * (-439 / $xl));
		}

		&__logo {
			width: calc(100vw * (153 / $xl));
			height: calc(100vw * (58 / $xl));
			margin-right: calc(100vw * (10 / $xl));
		}

		&__quotes {
			width: calc(100vw * (158 / $xl));
			height: calc(100vw * (130 / $xl));
			right: calc(100vw * (-115 / $xl));
		}
	}
}

@include lg {
	.quote {
		font-size: calc(100vw * (24 / $lg));
		height: calc(100vw * (90 / $lg));

		&__img {
			width: calc(100vw * (348 / $lg));
			height: calc(100vw * (226 / $lg));
			left: calc(100vw * (-227 / $lg));
		}

		&__logo {
			width: calc(100vw * (107 / $lg));
			height: calc(100vw * (40 / $lg));
			margin-right: calc(100vw * (10 / $lg));
		}

		&__quotes {
			width: calc(100vw * (118 / $lg));
			height: calc(100vw * (98 / $lg));
			right: calc(100vw * (-115 / $lg));
		}
	}
}

@include sm {
	.quote {
		font-size: calc(100vw * (20 / $sm));
		height: calc(100vw * (100 / $sm));

		&__img {
			width: calc(100vw * (271 / $sm));
			height: calc(100vw * (200 / $sm));
			left: calc(100vw * (-159 / $sm));
		}

		&__logo {
			width: calc(100vw * (102 / $sm));
			height: calc(100vw * (38 / $sm));
			margin-right: calc(100vw * (10 / $sm));
		}

		&__quotes {
			width: calc(100vw * (102 / $sm));
			height: calc(100vw * (82 / $sm));
			right: calc(100vw * (-80 / $sm));
		}
	}
}

@include xs {
	.quote {
		font-size: calc(100vw * (18 / $xs-base));
		height: calc(100vw * (90 / $xs-base));

		&__img {
			width: calc(100vw * (271 / $xs-base));
			height: calc(100vw * (200 / $xs-base));
			left: calc(100vw * (-50 / $xs-base));
		}

		&__text {
			flex-wrap: wrap;
			justify-content: end;
			margin-right: calc(100vw * (15 / $xs-base));
		}

		&__logo {
			width: calc(100vw * (105 / $xs-base));
			height: calc(100vw * (40 / $xs-base));
			margin-right: calc(100vw * (10 / $xs-base));
		}
	}
}
