.text-serif {
	font-family: sans-serif;
}

.h1 {
	font-size: 36px;
	line-height: 1;
	font-weight: 400;
	color: $black;
	margin: 0;
}

.h2 {
	font-size: 40px;
	line-height: 1;
	font-weight: 400;
	color: $black;
	text-align: center;
	margin: 0;
}

.h3 {
	font-size: 30px;
	line-height: 1;
	font-weight: 400;
	color: $black;
	text-align: center;
	margin: 0;
}

.btn {
	font-size: 18px;
	line-height: 20px;
	color: $white;
	width: max-content;
	padding: 15px 36px;
	background-color: $special;
	border: none;
	border-radius: 50px;
	display: block;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&::before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #730243;
		transition: 0.3s ease;
		z-index: -1;
		border-radius: 50%;
	}

	&:hover {
		color: $white;
	}

	&:hover::before {
		width: 150%;
		height: 500%; /* 150% and 500% because div completely to be fill the space of the button.*/
		transition: 0.5s ease;
	}
}

.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

.prices {
	font-family: sans-serif;
	font-size: 40px;
	line-height: 1;
	color: $special;
	gap: 7px;
	display: flex;
	align-items: baseline;

	&__old-price {
		font-size: 28px;
		text-decoration: line-through;
		color: $light;
	}
}

.sale {
	font-size: 15px;
	line-height: 1;
	color: $white;
	padding: 7px 14px;
	background-color: $special-light;
	border-radius: 10px;
}

.form-group {
	position: relative;
}

.form-group input.error {
	box-shadow: 0 0 3px 3px #da2525;
}

.form-group label.error {
	font-size: calc(100vw * (15 / 1920));
	color: #da2525;
	width: max-content;
	position: absolute;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
}

.product-list {
	width: max-content;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(4, 240px);
	gap: 40px;
}

.full-width {
	grid-column: full-width;
}

.text-logo {
	font-family: 'Vacuum', sans-serif;
}

.callback-btn {
	width: 60px;
	aspect-ratio: 1 / 1;
	position: fixed;
	bottom: 100px;
	right: 50px;
	z-index: 25;
	cursor: pointer;

	> img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	&:hover {
		&::before {
			animation: callback-btn-b 0.75s;
		}
		&::after {
			animation: callback-btn-a 0.75s;
		}
	}

	&::before,
	&::after {
		content: '';
		aspect-ratio: 1 / 1;
		display: block;
		border-radius: 50%;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
	}

	&::before {
		width: 150%;
		border: 5px solid $special;
	}

	&::after {
		width: 100%;
		border: 3px solid $special;
	}
}

@keyframes callback-btn-a {
	0% {
		width: 100%;
		opacity: 0;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		width: 150%;
		opacity: 0;
	}
}

@keyframes callback-btn-b {
	0% {
		width: 150%;
		opacity: 0;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		width: 225%;
		opacity: 0;
	}
}

@include xl {
	.h1 {
		font-size: calc(100vw * (36 / $xl));
	}

	.h2 {
		font-size: calc(100vw * (40 / $xl));
	}

	.h3 {
		font-size: calc(100vw * (30 / $xl));
	}

	.btn {
		font-size: calc(100vw * (18 / $xl));
		line-height: calc(100vw * (20 / $xl));
		padding: calc(100vw * (14 / $xl)) calc(100vw * (36 / $xl)) calc(100vw * (16 / $xl));
		border-radius: calc(100vw * (50 / $xl));
	}

	.prices {
		font-size: calc(100vw * (40 / $xl));
		gap: calc(100vw * (7 / $xl));

		&__old-price {
			font-size: calc(100vw * (28 / $xl));
		}
	}

	.sale {
		font-size: calc(100vw * (15 / $xl));
		padding: calc(100vw * (7 / $xl)) calc(100vw * (14 / $xl));
		border-radius: calc(100vw * (10 / $xl));
	}

	.form-group label.error {
		font-size: calc(100vw * (15 / $xl));
	}

	.product-list {
		grid-template-columns: repeat(4, calc(100vw * (240 / $xl)));
		gap: calc(100vw * (40 / $xl));
	}
}

@include llg {
	.product-list {
		grid-template-columns: repeat(4, calc(100vw * (240 / $llg)));
		gap: calc(100vw * (40 / $llg));
	}
}

@include lg {
	.h1 {
		font-size: calc(100vw * (25 / $lg));
	}

	.h2 {
		font-size: calc(100vw * (25 / $lg));
	}

	.h3 {
		font-size: calc(100vw * (22 / $lg));
	}

	.btn {
		font-size: calc(100vw * (18 / $lg));
		line-height: calc(100vw * (20 / $lg));
		padding: calc(100vw * (14 / $lg)) calc(100vw * (36 / $lg)) calc(100vw * (16 / $lg));
		border-radius: calc(100vw * (50 / $lg));
	}

	.prices {
		font-size: calc(100vw * (25 / $lg));
		gap: calc(100vw * (5 / $lg));

		&__old-price {
			font-size: calc(100vw * (15 / $lg));
		}
	}

	.sale {
		font-size: calc(100vw * (12 / $lg));
		padding: calc(100vw * (7 / $lg)) calc(100vw * (14 / $lg));
		border-radius: calc(100vw * (14 / $lg));
	}

	.form-group label.error {
		font-size: calc(100vw * (13 / $lg));
	}

	.product-list {
		grid-template-columns: repeat(3, calc(100vw * (240 / $lg)));
		gap: calc(100vw * (55 / $lg));
	}
}

@include sm {
	.h1 {
		font-size: calc(100vw * (22 / $sm));
	}

	.h2 {
		font-size: calc(100vw * (25 / $sm));
	}

	.h3 {
		font-size: calc(100vw * (22 / $sm));
	}

	.btn {
		font-size: calc(100vw * (18 / $sm));
		line-height: calc(100vw * (20 / $sm));
		padding: calc(100vw * (14 / $sm)) calc(100vw * (36 / $sm)) calc(100vw * (16 / $sm));
		border-radius: calc(100vw * (50 / $sm));
	}

	.prices {
		font-size: calc(100vw * (25 / $sm));
		gap: calc(100vw * (5 / $sm));

		&__old-price {
			font-size: calc(100vw * (15 / $sm));
		}
	}

	.sale {
		font-size: calc(100vw * (13 / $sm));
		padding: calc(100vw * (6 / $sm)) calc(100vw * (11 / $sm));
		border-radius: calc(100vw * (14 / $sm));
	}

	.form-group label.error {
		font-size: calc(100vw * (13 / $sm));
	}

	.product-list {
		grid-template-columns: repeat(3, calc(100vw * (180 / $sm)));
		gap: calc(100vw * (25 / $sm));
	}
}

@include xs {
	.h1 {
		font-size: calc(100vw * (22 / $xs-base));
	}

	.h2 {
		font-size: calc(100vw * (30 / $xs-base));
	}

	.h3 {
		font-size: calc(100vw * (20 / $xs-base));
	}

	.btn {
		font-size: calc(100vw * (18 / $xs-base));
		line-height: calc(100vw * (20 / $xs-base));
		padding: calc(100vw * (14 / $xs-base)) calc(100vw * (36 / $xs-base)) calc(100vw * (16 / $xs-base));
		border-radius: calc(100vw * (50 / $xs-base));
	}

	.prices {
		font-size: calc(100vw * (30 / $xs-base));
		gap: calc(100vw * (6 / $xs-base));

		&__old-price {
			font-size: calc(100vw * (18 / $xs-base));
		}
	}

	.sale {
		font-size: calc(100vw * (13 / $xs-base));
		padding: calc(100vw * (6 / $xs-base)) calc(100vw * (11 / $xs-base));
		border-radius: calc(100vw * (14 / $xs-base));
	}

	.form-group label.error {
		font-size: calc(100vw * (13 / $xs-base));
	}

	.product-list {
		grid-template-columns: repeat(2, calc(100vw * (156 / $xs-base)));
		gap: calc(100vw * (10 / $xs-base));
	}
}
