// colors

$white: #ffffff;
$black: #000000;
$gray: #575757;
$light: #a7a7a7;
$dark: #2f2f2f;
$primary: #ececec;
$special: #bd016f;
$special-light: #e33490;
// $special: #a1056c;
$special-dark: #210135;
$bg: #f4f4f4;

// @media breakpoints:

// $xxxl: 1600;
// $xxl: 1450;
$xl: 1536;
$lg: 1024;
$md: 992;
$sm: 768;
$xs: 420;
$xs-base: 360;
